# 날씨에 따른 교통사고 예측 시스템 만들기 프로젝트

### 1. 데이터 가져오기

##### 1.1 날씨 데이터 가져오기

In [1]:
import pandas as pd

OBS_ASOS_TIM_20240524114001 = pd.read_csv('OBS_ASOS_TIM_20240524114001.csv', encoding='euc-kr')
OBS_ASOS_TIM_20240524114001.head()

    지점 지점명                일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)
0  108  서울  2020-01-01 01:00    -5.9      NaN      1.7     40     NaN
1  108  서울  2020-01-01 02:00    -5.7      NaN      0.1     42     NaN
2  108  서울  2020-01-01 03:00    -5.6      0.0      0.0     46     NaN
3  108  서울  2020-01-01 04:00    -5.4      NaN      0.0     50     NaN
4  108  서울  2020-01-01 05:00    -5.2      NaN      0.0     55     NaN

##### 1.2 교통사고 데이터 가져오기

In [2]:
도로교통공단_사망교통사고정보_2020 = pd.read_csv('도로교통공단_사망교통사고정보_2020.csv', encoding='euc-kr')
도로교통공단_사망교통사고정보_2020.head()

,발생년,발생년월일시,주야,요일,사망자수,부상자수,중상자수,경상자수,부상신고자수,발생지시도,...,사고유형,가해자법규위반,도로형태_대분류,도로형태,가해자_당사자종별,피해자_당사자종별,발생위치X_UTMK,발생위치Y_UTMK,경도,위도
0,2020,2020-01-01 05,야,수,1,0,0,0,0,서울,...,차도통행중,안전운전 의무 불이행,단일로,기타단일로,승용차,보행자,959928.0,1943154.0,127.046727,37.486761
1,2020,2020-01-01 05,야,수,1,0,0,0,0,경기,...,추돌,안전운전 의무 불이행,단일로,기타단일로,승용차,화물차,951237.0,1916995.0,126.950147,37.250560
2,2020,2020-01-01 07,주,수,1,0,0,0,0,충남,...,횡단중,안전운전 의무 불이행,단일로,기타단일로,승용차,보행자,967688.0,1869920.0,127.137666,36.826933
3,2020,2020-01-01 10,주,수,1,0,0,0,0,경남,...,공작물충돌,안전운전 의무 불이행,단일로,기타단일로,화물차,없음,1038413.0,1748968.0,127.924796,35.736290
4,2020,2020-01-01 11,주,수,1,0,0,0,0,경기,...,도로이탈 추락,안전운전 의무 불이행,단일로,기타단일로,농기계,없음,1011197.0,1900537.0,127.626014,37.103415

### 2. 필요한 차원 데이터 셋으로 저장하기

##### 2.1 날씨 데이터 필요한 차원 데이터 셋으로 저장하기

In [3]:
weather_2020 = OBS_ASOS_TIM_20240524114001.drop(['지점','지점명'], axis=1)
weather_2020.head()

                 일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)
0  2020-01-01 01:00    -5.9      NaN      1.7     40     NaN
1  2020-01-01 02:00    -5.7      NaN      0.1     42     NaN
2  2020-01-01 03:00    -5.6      0.0      0.0     46     NaN
3  2020-01-01 04:00    -5.4      NaN      0.0     50     NaN
4  2020-01-01 05:00    -5.2      NaN      0.0     55     NaN

In [4]:
weather_2020.rename(columns={'일시':'년월일시'}, inplace=True)
weather_2020.head()

weather_2020.to_csv('weather_2020.csv', index=False)

In [5]:
weather_2020 = pd.read_csv('weather_2020.csv')
weather_2020.head()

               년월일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)
0  2020-01-01 01:00    -5.9      NaN      1.7     40     NaN
1  2020-01-01 02:00    -5.7      NaN      0.1     42     NaN
2  2020-01-01 03:00    -5.6      0.0      0.0     46     NaN
3  2020-01-01 04:00    -5.4      NaN      0.0     50     NaN
4  2020-01-01 05:00    -5.2      NaN      0.0     55     NaN

##### 2.2 교통사고 데이터 필요한 차원 데이터 셋으로 저장하기

In [6]:
trafficAccident_2020_seoul = 도로교통공단_사망교통사고정보_2020[['발생년월일시','사망자수']]
trafficAccident_2020_seoul

             발생년월일시  사망자수
0     2020-01-01 05     1
1     2020-01-01 05     1
2     2020-01-01 07     1
3     2020-01-01 10     1
4     2020-01-01 11     1
...             ...   ...
2978  2020-12-31 11     1
2979  2020-12-31 18     1
2980  2020-12-31 19     1
2981  2020-12-31 21     1
2982  2020-12-31 21     1

[2983 rows x 2 columns]

In [7]:
trafficAccident_2020_seoul.to_csv('trafficAccident_2020_seoul.csv', index=False)

In [8]:
trafficAccident_2020_seoul = pd.read_csv('trafficAccident_2020_seoul.csv')
trafficAccident_2020_seoul.head()

          발생년월일시  사망자수
0  2020-01-01 05     1
1  2020-01-01 05     1
2  2020-01-01 07     1
3  2020-01-01 10     1
4  2020-01-01 11     1

### 2. 데이터 전처리

##### 2-1. 교통사고 데이터 셋 전처리

In [9]:
trafficAccident_2020_seoul = pd.read_csv('trafficAccident_2020_seoul.csv')
trafficAccident_2020_seoul.head()

          발생년월일시  사망자수
0  2020-01-01 05     1
1  2020-01-01 05     1
2  2020-01-01 07     1
3  2020-01-01 10     1
4  2020-01-01 11     1

In [10]:
trafficAccident_2020_seoul['발생년월일시']=trafficAccident_2020_seoul['발생년월일시'].apply(lambda x: pd.to_datetime(str(x), format='%Y-%m-%d %H'))
trafficAccident_2020_seoul.head()

# trafficAccident_2020_seoul['발생년월일시']=pd.to_datetime(trafficAccident_2020_seoul['발생년월일시']).dt.floor('H')
trafficAccident_2020_seoul['발생년월일시']=pd.to_datetime(trafficAccident_2020_seoul['발생년월일시']).dt.floor('h')
trafficAccident_2020_seoul.head()

trafficAccident_2020_seoul.rename(columns={'발생년월일시':'년월일시'}, inplace=True)
trafficAccident_2020_seoul.head()

# 1완성
# trafficAccident_2020_seoul.set_index(trafficAccident_2020_seoul['년월일시'], inplace=True)
# trafficAccident_2020_seoul.head()
# 인덱스 설정 (올바른 방법)
trafficAccident_2020_seoul.set_index('년월일시', inplace=True)
trafficAccident_2020_seoul.head()

# 중복 컬럼 제거 (년월일시 컬럼이 인덱스로 설정되었으므로 제거)
# 이미 인덱스로 설정되었으므로 별도 삭제 불필요
# trafficAccident_2020_seoul.drop('년월일시', axis=1)
# # trafficAccident_2020_seoul.head()

                     사망자수
년월일시
2020-01-01 05:00:00     1
2020-01-01 05:00:00     1
2020-01-01 07:00:00     1
2020-01-01 10:00:00     1
2020-01-01 11:00:00     1

In [11]:
import numpy as np
# trafficAccident_2020_seoul=trafficAccident_2020_seoul.resample('H').apply({'사망자수':np.sum}, axis=1).fillna(0)
trafficAccident_2020_seoul = trafficAccident_2020_seoul.resample('h').agg({'사망자수': 'sum'}).fillna(0)
trafficAccident_2020_seoul.head()

                     사망자수
년월일시
2020-01-01 05:00:00     2
2020-01-01 06:00:00     0
2020-01-01 07:00:00     1
2020-01-01 08:00:00     0
2020-01-01 09:00:00     0

In [12]:
weather_2020.head()

               년월일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)
0  2020-01-01 01:00    -5.9      NaN      1.7     40     NaN
1  2020-01-01 02:00    -5.7      NaN      0.1     42     NaN
2  2020-01-01 03:00    -5.6      0.0      0.0     46     NaN
3  2020-01-01 04:00    -5.4      NaN      0.0     50     NaN
4  2020-01-01 05:00    -5.2      NaN      0.0     55     NaN

In [13]:
trafficAccident_2020_seoul.head()

                     사망자수
년월일시
2020-01-01 05:00:00     2
2020-01-01 06:00:00     0
2020-01-01 07:00:00     1
2020-01-01 08:00:00     0
2020-01-01 09:00:00     0

In [14]:
preparation_data=pd.merge(
    weather_2020,
    trafficAccident_2020_seoul,
    how='outer',
    left_index=True,
    right_index=True
)
preparation_data.head()

               년월일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)  사망자수
0  2020-01-01 01:00    -5.9      NaN      1.7   40.0     NaN   NaN
1  2020-01-01 02:00    -5.7      NaN      0.1   42.0     NaN   NaN
2  2020-01-01 03:00    -5.6      0.0      0.0   46.0     NaN   NaN
3  2020-01-01 04:00    -5.4      NaN      0.0   50.0     NaN   NaN
4  2020-01-01 05:00    -5.2      NaN      0.0   55.0     NaN   NaN

In [15]:
preparation_data=preparation_data.fillna(0)
preparation_data.head()

               년월일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)  사망자수
0  2020-01-01 01:00    -5.9      0.0      1.7   40.0     0.0   0.0
1  2020-01-01 02:00    -5.7      0.0      0.1   42.0     0.0   0.0
2  2020-01-01 03:00    -5.6      0.0      0.0   46.0     0.0   0.0
3  2020-01-01 04:00    -5.4      0.0      0.0   50.0     0.0   0.0
4  2020-01-01 05:00    -5.2      0.0      0.0   55.0     0.0   0.0

In [16]:
preparation_data['사망자수']=preparation_data['사망자수'].astype(int)
preparation_data.head()

               년월일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)  사망자수
0  2020-01-01 01:00    -5.9      0.0      1.7   40.0     0.0     0
1  2020-01-01 02:00    -5.7      0.0      0.1   42.0     0.0     0
2  2020-01-01 03:00    -5.6      0.0      0.0   46.0     0.0     0
3  2020-01-01 04:00    -5.4      0.0      0.0   50.0     0.0     0
4  2020-01-01 05:00    -5.2      0.0      0.0   55.0     0.0     0

In [17]:
preparation_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8801 entries, 0 to 2020-12-31 21:00:00
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   년월일시     8801 non-null   object
 1   기온(°C)   8801 non-null   float64
 2   강수량(mm)  8801 non-null   float64
 3   풍속(m/s)  8801 non-null   float64
 4   습도(%)    8801 non-null   float64
 5   적설(cm)   8801 non-null   float64
 6   사망자수     8801 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 550.1+ KB

In [18]:
preparation_data.to_csv('preparation_data.csv', index=False)

In [19]:
# import os
# os.getcwd()
# os.chdir('')
# os.listdir()

In [20]:
import pandas as pd
import numpy as np
#import tensorflow as tf
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

preparation_data=pd.read_csv('preparation_data.csv')
preparation_data.head()

WARNING:tensorflow:From C:\Users\20323\AppData\Local\Temp\ipykernel_14200\3080451226.py:5: The name tf.disable_v2_behavior is deprecated. Please use tf.compat.v1.disable_v2_behavior instead.

WARNING:tensorflow:From c:\DEV\envs\py3_10_tf\lib\site-packages\tensorflow\python\compat\v2_compat.py:98: disable_resource_variables (from tensorflow.python.ops.resource_variables_toggle) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

               년월일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)  사망자수
0  2020-01-01 01:00    -5.9      0.0      1.7   40.0     0.0     0
1  2020-01-01 02:00    -5.7      0.0      0.1   42.0     0.0     0
2  2020-01-01 03:00    -5.6      0.0      0.0   46.0     0.0     0
3  2020-01-01 04:00    -5.4      0.0      0.0   50.0     0.0     0
4  2020-01-01 05:00    -5.2      0.0      0.0   55.0     0.0     0

In [21]:
import pandas as pd
import numpy as np

## ORIG
# xy=np.array(preparation_data, dtype=np.float32)
# preparation_data에서 숫자 컬럼만 선택
numeric_columns = ['기온(°C)', '강수량(mm)', '풍속(m/s)', '습도(%)', '적설(cm)', '사망자수']
xy = np.array(preparation_data[numeric_columns], dtype=np.float32)
print(xy)

x_data=xy[:, :-1]
y_data=xy[:, -1:]
print(x_data)
print(y_data)

[[-5.9  0.   1.7 40.   0.   0. ]
 [-5.7  0.   0.1 42.   0.   0. ]
 [-5.6  0.   0.  46.   0.   0. ]
 ...
 [ 0.   0.   0.   0.   0.   1. ]
 [ 0.   0.   0.   0.   0.   0. ]
 [ 0.   0.   0.   0.   0.   2. ]]
[[-5.9  0.   1.7 40.   0. ]
 [-5.7  0.   0.1 42.   0. ]
 [-5.6  0.   0.  46.   0. ]
 ...
 [ 0.   0.   0.   0.   0. ]
 [ 0.   0.   0.   0.   0. ]
 [ 0.   0.   0.   0.   0. ]]
[[0.]
 [0.]
 [0.]
 ...
 [1.]
 [0.]
 [2.]]

In [22]:
X=tf.placeholder(tf.float32, shape=[None, 5])
y=tf.placeholder(tf.float32, shape=[None, 1])

W=tf.Variable(tf.random_normal([5,1]), name="weight")
b=tf.Variable(tf.random_normal([1]), name="bias")

hypothesis=tf.matmul(X, W) + b

cost=tf.reduce_mean(tf.square(hypothesis-y))

optimizer=tf.train.GradientDescentOptimizer(learning_rate=0.000005)
train=optimizer.minimize(cost)

sess=tf.Session()
init=tf.global_variables_initializer()
sess.run(init)

WARNING:tensorflow:From C:\Users\20323\AppData\Local\Temp\ipykernel_14200\1590150836.py:11: The name tf.train.GradientDescentOptimizer is deprecated. Please use tf.compat.v1.train.GradientDescentOptimizer instead.

In [23]:
n = 100000
# n = 1000000
for step in range(n):
    cost_opti, hypo_opti, _opti=sess.run(
        [cost, hypothesis, train],
        feed_dict={X: x_data, y: y_data}
    )
    step=step+1
    if step % 500 == 0:
        print("\n step(학습 횟수) :", step, "\n cost(예측값과 실제값의 편차) :",cost_opti)
        print("# 예측되는 사망자 수 : ", hypo_opti[0])

 step(학습 횟수) : 500
 cost(예측값과 실제값의 편차) : 2.801546
# 예측되는 사망자 수 :  [-13.96977]

 step(학습 횟수) : 1000
 cost(예측값과 실제값의 편차) : 2.5863736
# 예측되는 사망자 수 :  [-13.046659]

 step(학습 횟수) : 1500
 cost(예측값과 실제값의 편차) : 2.3934622
# 예측되는 사망자 수 :  [-12.173516]

 step(학습 횟수) : 2000
 cost(예측값과 실제값의 편차) : 2.2204595
# 예측되는 사망자 수 :  [-11.347641]

 step(학습 횟수) : 2500
 cost(예측값과 실제값의 편차) : 2.0652964
# 예측되는 사망자 수 :  [-10.566462]

 step(학습 횟수) : 3000
 cost(예측값과 실제값의 편차) : 1.926095
# 예측되는 사망자 수 :  [-9.8275585]

 step(학습 횟수) : 3500
 cost(예측값과 실제값의 편차) : 1.801191
# 예측되는 사망자 수 :  [-9.128663]

 step(학습 횟수) : 4000
 cost(예측값과 실제값의 편차) : 1.6890662
# 예측되는 사망자 수 :  [-8.467594]

 step(학습 횟수) : 4500
 cost(예측값과 실제값의 편차) : 1.5883906
# 예측되는 사망자 수 :  [-7.8423142]

 step(학습 횟수) : 5000
 cost(예측값과 실제값의 편차) : 1.4979584
# 예측되는 사망자 수 :  [-7.2509027]

 step(학습 횟수) : 5500
 cost(예측값과 실제값의 편차) : 1.4166936
# 예측되는 사망자 수 :  [-6.6915054]

 step(학습 횟수) : 6000
 cost(예측값과 실제값의 편차) : 1.3436381
# 예측되는 사망자 수 :  [-6.162413]

 step(학습 횟수) : 6500
 cost(예측값과 실제값의 편차) : 1.277932
# 예측되는 사망자 수 :  [-5.661966]

 step(학습 횟수) : 7000
 cost(예측값과 실제값의 편차) : 1.2187998
# 예측되는 사망자 수 :  [-5.1886497]

 step(학습 횟수) : 7500
 cost(예측값과 실제값의 편차) : 1.1655734
# 예측되는 사망자 수 :  [-4.7409434]

 step(학습 횟수) : 8000
 cost(예측값과 실제값의 편차) : 1.1176308
# 예측되는 사망자 수 :  [-4.3174806]

 step(학습 횟수) : 8500
 cost(예측값과 실제값의 편차) : 1.0744067
# 예측되는 사망자 수 :  [-3.9169984]

 step(학습 횟수) : 9000
 cost(예측값과 실제값의 편차) : 1.0354053
# 예측되는 사망자 수 :  [-3.5382013]

 step(학습 횟수) : 9500
 cost(예측값과 실제값의 편차) : 1.0001855
# 예측되는 사망자 수 :  [-3.179932]

 step(학습 횟수) : 10000
 cost(예측값과 실제값의 편차) : 0.96835256
# 예측되는 사망자 수 :  [-2.841117]

 step(학습 횟수) : 10500
 cost(예측값과 실제값의 편차) : 0.9395827
# 예측되는 사망자 수 :  [-2.520638]

 step(학습 횟수) : 11000
 cost(예측값과 실제값의 편차) : 0.91352624
# 예측되는 사망자 수 :  [-2.2175262]

 step(학습 횟수) : 11500
 cost(예측값과 실제값의 편차) : 0.8899037
# 예측되는 사망자 수 :  [-1.9308774]

 step(학습 횟수) : 12000
 cost(예측값과 실제값의 편차) : 0.8684564
# 예측되는 사망자 수 :  [-1.6597927]

 step(학습 횟수) : 12500
 cost(예측값과 실제값의 편차) : 0.8489841
# 예측되는 사망자 수 :  [-1.4033933]

 step(학습 횟수) : 13000
 cost(예측값과 실제값의 편차) : 0.83126765
# 예측되는 사망자 수 :  [-1.1608937]

 step(학습 횟수) : 13500
 cost(예측값과 실제값의 편차) : 0.8151142
# 예측되는 사망자 수 :  [-0.93156815]

 step(학습 횟수) : 14000
 cost(예측값과 실제값의 편차) : 0.80036736
# 예측되는 사망자 수 :  [-0.71470785]

 step(학습 횟수) : 14500
 cost(예측값과 실제값의 편차) : 0.786906
# 예측되는 사망자 수 :  [-0.5096228]

 step(학습 횟수) : 15000
 cost(예측값과 실제값의 편차) : 0.7745681
# 예측되는 사망자 수 :  [-0.31566]

 step(학습 횟수) : 15500
 cost(예측값과 실제값의 편차) : 0.76324135
# 예측되는 사망자 수 :  [-0.13222599]

 step(학습 횟수) : 16000
 cost(예측값과 실제값의 편차) : 0.7528407
# 예측되는 사망자 수 :  [0.04123837]

 step(학습 횟수) : 16500
 cost(예측값과 실제값의 편차) : 0.74326026
# 예측되는 사망자 수 :  [0.20527321]

 step(학습 횟수) : 17000
 cost(예측값과 실제값의 편차) : 0.73440695
# 예측되는 사망자 수 :  [0.36033565]

 step(학습 횟수) : 17500
 cost(예측값과 실제값의 편차) : 0.72622496
# 예측되는 사망자 수 :  [0.5070229]

 step(학습 횟수) : 18000
 cost(예측값과 실제값의 편차) : 0.71863973
# 예측되는 사망자 수 :  [0.64569193]

 step(학습 횟수) : 18500
 cost(예측값과 실제값의 편차) : 0.7115789
# 예측되는 사망자 수 :  [0.77684456]

 step(학습 횟수) : 19000
 cost(예측값과 실제값의 편차) : 0.7050088
# 예측되는 사망자 수 :  [0.9008475]

 step(학습 횟수) : 19500
 cost(예측값과 실제값의 편차) : 0.6988736
# 예측되는 사망자 수 :  [1.0181108]

 step(학습 횟수) : 20000
 cost(예측값과 실제값의 편차) : 0.6931187
# 예측되는 사망자 수 :  [1.1290071]

 step(학습 횟수) : 20500
 cost(예측값과 실제값의 편차) : 0.6877241
# 예측되는 사망자 수 :  [1.2337921]

 step(학습 횟수) : 21000
 cost(예측값과 실제값의 편차) : 0.68264824
# 예측되는 사망자 수 :  [1.3328748]

 step(학습 횟수) : 21500
 cost(예측값과 실제값의 편차) : 0.67785
# 예측되는 사망자 수 :  [1.4265738]

 step(학습 횟수) : 22000
 cost(예측값과 실제값의 편차) : 0.6733209
# 예측되는 사망자 수 :  [1.515114]

 step(학습 횟수) : 22500
 cost(예측값과 실제값의 편차) : 0.6690223
# 예측되는 사망자 수 :  [1.59884]

 step(학습 횟수) : 23000
 cost(예측값과 실제값의 편차) : 0.6649258
# 예측되는 사망자 수 :  [1.6780072]

 step(학습 횟수) : 23500
 cost(예측값과 실제값의 편차) : 0.66103905
# 예측되는 사망자 수 :  [1.7528632]

 step(학습 횟수) : 24000
 cost(예측값과 실제값의 편차) : 0.6573169
# 예측되는 사망자 수 :  [1.8235765]

 step(학습 횟수) : 24500
 cost(예측값과 실제값의 편차) : 0.65374553
# 예측되는 사망자 수 :  [1.8904338]

 step(학습 횟수) : 25000
 cost(예측값과 실제값의 편차) : 0.65033317
# 예측되는 사망자 수 :  [1.9536636]

 step(학습 횟수) : 25500
 cost(예측값과 실제값의 편차) : 0.6470413
# 예측되는 사망자 수 :  [2.0134385]

 step(학습 횟수) : 26000
 cost(예측값과 실제값의 편차) : 0.6438702
# 예측되는 사망자 수 :  [2.0699036]

 step(학습 횟수) : 26500
 cost(예측값과 실제값의 편차) : 0.6408146
# 예측되는 사망자 수 :  [2.123258]

 step(학습 횟수) : 27000
 cost(예측값과 실제값의 편차) : 0.63784933
# 예측되는 사망자 수 :  [2.173686]

 step(학습 횟수) : 27500
 cost(예측값과 실제값의 편차) : 0.6349834
# 예측되는 사망자 수 :  [2.2213626]

 step(학습 횟수) : 28000
 cost(예측값과 실제값의 편차) : 0.6322002
# 예측되는 사망자 수 :  [2.2664309]

 step(학습 횟수) : 28500
 cost(예측값과 실제값의 편차) : 0.62948644
# 예측되는 사망자 수 :  [2.3089705]

 step(학습 횟수) : 29000
 cost(예측값과 실제값의 편차) : 0.62685716
# 예측되는 사망자 수 :  [2.3491712]

 step(학습 횟수) : 29500
 cost(예측값과 실제값의 편차) : 0.6242881
# 예측되는 사망자 수 :  [2.387094]

 step(학습 횟수) : 30000
 cost(예측값과 실제값의 편차) : 0.62177193
# 예측되는 사망자 수 :  [2.4229188]

 step(학습 횟수) : 30500
 cost(예측값과 실제값의 편차) : 0.6193275
# 예측되는 사망자 수 :  [2.4567878]

 step(학습 횟수) : 31000
 cost(예측값과 실제값의 편차) : 0.61692804
# 예측되는 사망자 수 :  [2.4887788]

 step(학습 횟수) : 31500
 cost(예측값과 실제값의 편차) : 0.61457425
# 예측되는 사망자 수 :  [2.519001]

 step(학습 횟수) : 32000
 cost(예측값과 실제값의 편차) : 0.61227727
# 예측되는 사망자 수 :  [2.5475636]

 step(학습 횟수) : 32500
 cost(예측값과 실제값의 편차) : 0.6100134
# 예측되는 사망자 수 :  [2.574535]

 step(학습 횟수) : 33000
 cost(예측값과 실제값의 편차) : 0.6077932
# 예측되는 사망자 수 :  [2.6000152]

 step(학습 횟수) : 33500
 cost(예측값과 실제값의 편차) : 0.6056171
# 예측되는 사망자 수 :  [2.6240854]

 step(학습 횟수) : 34000
 cost(예측값과 실제값의 편차) : 0.6034671
# 예측되는 사망자 수 :  [2.646781]

 step(학습 횟수) : 34500
 cost(예측값과 실제값의 편차) : 0.60136026
# 예측되는 사망자 수 :  [2.6681604]

 step(학습 횟수) : 35000
 cost(예측값과 실제값의 편차) : 0.59928507
# 예측되는 사망자 수 :  [2.6883433]

 step(학습 횟수) : 35500
 cost(예측값과 실제값의 편차) : 0.5972311
# 예측되는 사망자 수 :  [2.707385]

 step(학습 횟수) : 36000
 cost(예측값과 실제값의 편차) : 0.5952204
# 예측되는 사망자 수 :  [2.7253716]

 step(학습 횟수) : 36500
 cost(예측값과 실제값의 편차) : 0.59323335
# 예측되는 사망자 수 :  [2.7423406]

 step(학습 횟수) : 37000
 cost(예측값과 실제값의 편차) : 0.59126365
# 예측되는 사망자 수 :  [2.7583413]

 step(학습 횟수) : 37500
 cost(예측값과 실제값의 편차) : 0.5893379
# 예측되는 사망자 수 :  [2.7734566]

 step(학습 횟수) : 38000
 cost(예측값과 실제값의 편차) : 0.5874276
# 예측되는 사망자 수 :  [2.7877052]

 step(학습 횟수) : 38500
 cost(예측값과 실제값의 편차) : 0.5855365
# 예측되는 사망자 수 :  [2.8011372]

 step(학습 횟수) : 39000
 cost(예측값과 실제값의 편차) : 0.58368033
# 예측되는 사망자 수 :  [2.8138194]

 step(학습 횟수) : 39500
 cost(예측값과 실제값의 편차) : 0.58184105
# 예측되는 사망자 수 :  [2.8257668]

 step(학습 횟수) : 40000
 cost(예측값과 실제값의 편차) : 0.58001906
# 예측되는 사망자 수 :  [2.8370252]

 step(학습 횟수) : 40500
 cost(예측값과 실제값의 편차) : 0.57823
# 예측되는 사망자 수 :  [2.8476481]

 step(학습 횟수) : 41000
 cost(예측값과 실제값의 편차) : 0.576453
# 예측되는 사망자 수 :  [2.8576484]

 step(학습 횟수) : 41500
 cost(예측값과 실제값의 편차) : 0.5746964
# 예측되는 사망자 수 :  [2.867067]

 step(학습 횟수) : 42000
 cost(예측값과 실제값의 편차) : 0.5729678
# 예측되는 사망자 수 :  [2.8759496]

 step(학습 횟수) : 42500
 cost(예측값과 실제값의 편차) : 0.5712504
# 예측되는 사망자 수 :  [2.8843024]

 step(학습 횟수) : 43000
 cost(예측값과 실제값의 편차) : 0.56955314
# 예측되는 사망자 수 :  [2.8921642]

 step(학습 횟수) : 43500
 cost(예측값과 실제값의 편차) : 0.56788033
# 예측되는 사망자 수 :  [2.899573]

 step(학습 횟수) : 44000
 cost(예측값과 실제값의 편차) : 0.56621873
# 예측되는 사망자 수 :  [2.906533]

 step(학습 횟수) : 44500
 cost(예측값과 실제값의 편차) : 0.56457573
# 예측되는 사망자 수 :  [2.9130802]

 step(학습 횟수) : 45000
 cost(예측값과 실제값의 편차) : 0.5629576
# 예측되는 사망자 수 :  [2.9192426]

 step(학습 횟수) : 45500
 cost(예측값과 실제값의 편차) : 0.5613487
# 예측되는 사망자 수 :  [2.9250255]

 step(학습 횟수) : 46000
 cost(예측값과 실제값의 편차) : 0.55975604
# 예측되는 사망자 수 :  [2.9304461]

 step(학습 횟수) : 46500
 cost(예측값과 실제값의 편차) : 0.5581891
# 예측되는 사망자 수 :  [2.9354687]

 step(학습 횟수) : 47000
 cost(예측값과 실제값의 편차) : 0.5566309
# 예측되는 사망자 수 :  [2.9401698]

 step(학습 횟수) : 47500
 cost(예측값과 실제값의 편차) : 0.5550864
# 예측되는 사망자 수 :  [2.9445727]

 step(학습 횟수) : 48000
 cost(예측값과 실제값의 편차) : 0.55356836
# 예측되는 사망자 수 :  [2.9487104]

 step(학습 횟수) : 48500
 cost(예측값과 실제값의 편차) : 0.5520584
# 예측되는 사망자 수 :  [2.9525745]

 step(학습 횟수) : 49000
 cost(예측값과 실제값의 편차) : 0.55055875
# 예측되는 사망자 수 :  [2.956181]

 step(학습 횟수) : 49500
 cost(예측값과 실제값의 편차) : 0.5490883
# 예측되는 사망자 수 :  [2.959569]

 step(학습 횟수) : 50000
 cost(예측값과 실제값의 편차) : 0.5476259
# 예측되는 사망자 수 :  [2.9627247]

 step(학습 횟수) : 50500
 cost(예측값과 실제값의 편차) : 0.5461703
# 예측되는 사망자 수 :  [2.9656596]

 step(학습 횟수) : 51000
 cost(예측값과 실제값의 편차) : 0.5447437
# 예측되는 사망자 수 :  [2.9684157]

 step(학습 횟수) : 51500
 cost(예측값과 실제값의 편차) : 0.543326
# 예측되는 사망자 수 :  [2.970973]

 step(학습 횟수) : 52000
 cost(예측값과 실제값의 편차) : 0.5419162
# 예측되는 사망자 수 :  [2.9733448]

 step(학습 횟수) : 52500
 cost(예측값과 실제값의 편차) : 0.5405297
# 예측되는 사망자 수 :  [2.9755578]

 step(학습 횟수) : 53000
 cost(예측값과 실제값의 편차) : 0.5391561
# 예측되는 사망자 수 :  [2.9776125]

 step(학습 횟수) : 53500
 cost(예측값과 실제값의 편차) : 0.53778976
# 예측되는 사망자 수 :  [2.9795082]

 step(학습 횟수) : 54000
 cost(예측값과 실제값의 편차) : 0.53644085
# 예측되는 사망자 수 :  [2.9812658]

 step(학습 횟수) : 54500
 cost(예측값과 실제값의 편차) : 0.5351102
# 예측되는 사망자 수 :  [2.9828944]

 step(학습 횟수) : 55000
 cost(예측값과 실제값의 편차) : 0.53378654
# 예측되는 사망자 수 :  [2.984388]

 step(학습 횟수) : 55500
 cost(예측값과 실제값의 편차) : 0.5324728
# 예측되는 사망자 수 :  [2.985762]

 step(학습 횟수) : 56000
 cost(예측값과 실제값의 편차) : 0.53118354
# 예측되는 사망자 수 :  [2.987031]

 step(학습 횟수) : 56500
 cost(예측값과 실제값의 편차) : 0.5299015
# 예측되는 사망자 수 :  [2.9881883]

 step(학습 횟수) : 57000
 cost(예측값과 실제값의 편차) : 0.5286258
# 예측되는 사망자 수 :  [2.9892328]

 step(학습 횟수) : 57500
 cost(예측값과 실제값의 편차) : 0.5273732
# 예측되는 사망자 수 :  [2.990205]

 step(학습 횟수) : 58000
 cost(예측값과 실제값의 편차) : 0.526131
# 예측되는 사망자 수 :  [2.9910717]

 step(학습 횟수) : 58500
 cost(예측값과 실제값의 편차) : 0.52489567
# 예측되는 사망자 수 :  [2.9918487]

 step(학습 횟수) : 59000
 cost(예측값과 실제값의 편차) : 0.5236752
# 예측되는 사망자 수 :  [2.9925508]

 step(학습 횟수) : 59500
 cost(예측값과 실제값의 편차) : 0.5224716
# 예측되는 사망자 수 :  [2.9931865]

 step(학습 횟수) : 60000
 cost(예측값과 실제값의 편차) : 0.5212751
# 예측되는 사망자 수 :  [2.9937415]

 step(학습 횟수) : 60500
 cost(예측값과 실제값의 편차) : 0.52008516
# 예측되는 사망자 수 :  [2.9942188]

 step(학습 횟수) : 61000
 cost(예측값과 실제값의 편차) : 0.5189191
# 예측되는 사망자 수 :  [2.9946504]

 step(학습 횟수) : 61500
 cost(예측값과 실제값의 편차) : 0.5177604
# 예측되는 사망자 수 :  [2.9950142]

 step(학습 횟수) : 62000
 cost(예측값과 실제값의 편차) : 0.5166079
# 예측되는 사망자 수 :  [2.9953127]

 step(학습 횟수) : 62500
 cost(예측값과 실제값의 편차) : 0.5154691
# 예측되는 사망자 수 :  [2.995563]

 step(학습 횟수) : 63000
 cost(예측값과 실제값의 편차) : 0.5143481
# 예측되는 사망자 수 :  [2.9957767]

 step(학습 횟수) : 63500
 cost(예측값과 실제값의 편차) : 0.513233
# 예측되는 사망자 수 :  [2.9959302]

 step(학습 횟수) : 64000
 cost(예측값과 실제값의 편차) : 0.51212275
# 예측되는 사망자 수 :  [2.9960217]

 step(학습 횟수) : 64500
 cost(예측값과 실제값의 편차) : 0.5110336
# 예측되는 사망자 수 :  [2.9960968]

 step(학습 횟수) : 65000
 cost(예측값과 실제값의 편차) : 0.5099557
# 예측되는 사망자 수 :  [2.9961312]

 step(학습 횟수) : 65500
 cost(예측값과 실제값의 편차) : 0.50888085
# 예측되는 사망자 수 :  [2.9961052]

 step(학습 횟수) : 66000
 cost(예측값과 실제값의 편차) : 0.5078164
# 예측되는 사망자 수 :  [2.9960623]

 step(학습 횟수) : 66500
 cost(예측값과 실제값의 편차) : 0.5067724
# 예측되는 사망자 수 :  [2.9959774]

 step(학습 횟수) : 67000
 cost(예측값과 실제값의 편차) : 0.5057333
# 예측되는 사망자 수 :  [2.995874]

 step(학습 횟수) : 67500
 cost(예측값과 실제값의 편차) : 0.5047005
# 예측되는 사망자 수 :  [2.9957147]

 step(학습 횟수) : 68000
 cost(예측값과 실제값의 편차) : 0.50367945
# 예측되는 사망자 수 :  [2.9955528]

 step(학습 횟수) : 68500
 cost(예측값과 실제값의 편차) : 0.50267535
# 예측되는 사망자 수 :  [2.9953485]

 step(학습 횟수) : 69000
 cost(예측값과 실제값의 편차) : 0.5016767
# 예측되는 사망자 수 :  [2.9951441]

 step(학습 횟수) : 69500
 cost(예측값과 실제값의 편차) : 0.50068295
# 예측되는 사망자 수 :  [2.9948692]

 step(학습 횟수) : 70000
 cost(예측값과 실제값의 편차) : 0.49970496
# 예측되는 사망자 수 :  [2.9946096]

 step(학습 횟수) : 70500
 cost(예측값과 실제값의 편차) : 0.4987401
# 예측되는 사망자 수 :  [2.994329]

 step(학습 횟수) : 71000
 cost(예측값과 실제값의 편차) : 0.49777812
# 예측되는 사망자 수 :  [2.9940057]

 step(학습 횟수) : 71500
 cost(예측값과 실제값의 편차) : 0.49682197
# 예측되는 사망자 수 :  [2.9936824]

 step(학습 횟수) : 72000
 cost(예측값과 실제값의 편차) : 0.4958852
# 예측되는 사망자 수 :  [2.9933405]

 step(학습 횟수) : 72500
 cost(예측값과 실제값의 편차) : 0.49495664
# 예측되는 사망자 수 :  [2.9929726]

 step(학습 횟수) : 73000
 cost(예측값과 실제값의 편차) : 0.49403298
# 예측되는 사망자 수 :  [2.9926043]

 step(학습 횟수) : 73500
 cost(예측값과 실제값의 편차) : 0.4931134
# 예측되는 사망자 수 :  [2.992215]

 step(학습 횟수) : 74000
 cost(예측값과 실제값의 편차) : 0.49221414
# 예측되는 사망자 수 :  [2.9917977]

 step(학습 횟수) : 74500
 cost(예측값과 실제값의 편차) : 0.49132144
# 예측되는 사망자 수 :  [2.9913847]

 step(학습 횟수) : 75000
 cost(예측값과 실제값의 편차) : 0.49043334
# 예측되는 사망자 수 :  [2.9909718]

 step(학습 횟수) : 75500
 cost(예측값과 실제값의 편차) : 0.48954985
# 예측되는 사망자 수 :  [2.9905236]

 step(학습 횟수) : 76000
 cost(예측값과 실제값의 편차) : 0.48868608
# 예측되는 사망자 수 :  [2.9900608]

 step(학습 횟수) : 76500
 cost(예측값과 실제값의 편차) : 0.48782852
# 예측되는 사망자 수 :  [2.9896033]

 step(학습 횟수) : 77000
 cost(예측값과 실제값의 편차) : 0.48697513
# 예측되는 사망자 수 :  [2.9891458]

 step(학습 횟수) : 77500
 cost(예측값과 실제값의 편차) : 0.48612672
# 예측되는 사망자 수 :  [2.9886882]

 step(학습 횟수) : 78000
 cost(예측값과 실제값의 편차) : 0.48529464
# 예측되는 사망자 수 :  [2.9881825]

 step(학습 횟수) : 78500
 cost(예측값과 실제값의 편차) : 0.4844721
# 예측되는 사망자 수 :  [2.9876804]

 step(학습 횟수) : 79000
 cost(예측값과 실제값의 편차) : 0.4836531
# 예측되는 사망자 수 :  [2.9871783]

 step(학습 횟수) : 79500
 cost(예측값과 실제값의 편차) : 0.48283798
# 예측되는 사망자 수 :  [2.9866762]

 step(학습 횟수) : 80000
 cost(예측값과 실제값의 편차) : 0.48203573
# 예측되는 사망자 수 :  [2.9861903]

 step(학습 횟수) : 80500
 cost(예측값과 실제값의 편차) : 0.48124582
# 예측되는 사망자 수 :  [2.9856822]

 step(학습 횟수) : 81000
 cost(예측값과 실제값의 편차) : 0.48045954
# 예측되는 사망자 수 :  [2.9851353]

 step(학습 횟수) : 81500
 cost(예측값과 실제값의 편차) : 0.47967726
# 예측되는 사망자 수 :  [2.9845884]

 step(학습 횟수) : 82000
 cost(예측값과 실제값의 편차) : 0.4789037
# 예측되는 사망자 수 :  [2.98405]

 step(학습 횟수) : 82500
 cost(예측값과 실제값의 편차) : 0.478145
# 예측되는 사망자 수 :  [2.9835327]

 step(학습 횟수) : 83000
 cost(예측값과 실제값의 편차) : 0.47739094
# 예측되는 사망자 수 :  [2.9830158]

 step(학습 횟수) : 83500
 cost(예측값과 실제값의 편차) : 0.47664028
# 예측되는 사망자 수 :  [2.982499]

 step(학습 횟수) : 84000
 cost(예측값과 실제값의 편차) : 0.47589406
# 예측되는 사망자 수 :  [2.981934]

 step(학습 횟수) : 84500
 cost(예측값과 실제값의 편차) : 0.47516605
# 예측되는 사망자 수 :  [2.9813697]

 step(학습 횟수) : 85000
 cost(예측값과 실제값의 편차) : 0.4744421
# 예측되는 사망자 수 :  [2.980808]

 step(학습 횟수) : 85500
 cost(예측값과 실제값의 편차) : 0.473722
# 예측되는 사망자 수 :  [2.9802463]

 step(학습 횟수) : 86000
 cost(예측값과 실제값의 편차) : 0.4730061
# 예측되는 사망자 수 :  [2.9796846]

 step(학습 횟수) : 86500
 cost(예측값과 실제값의 편차) : 0.4723005
# 예측되는 사망자 수 :  [2.9791365]

 step(학습 횟수) : 87000
 cost(예측값과 실제값의 편차) : 0.471607
# 예측되는 사망자 수 :  [2.9786043]

 step(학습 횟수) : 87500
 cost(예측값과 실제값의 편차) : 0.4709176
# 예측되는 사망자 수 :  [2.9780726]

 step(학습 횟수) : 88000
 cost(예측값과 실제값의 편차) : 0.4702312
# 예측되는 사망자 수 :  [2.9775405]

 step(학습 횟수) : 88500
 cost(예측값과 실제값의 편차) : 0.4695478
# 예측되는 사망자 수 :  [2.9769359]

 step(학습 횟수) : 89000
 cost(예측값과 실제값의 편차) : 0.46888238
# 예측되는 사망자 수 :  [2.976356]

 step(학습 횟수) : 89500
 cost(예측값과 실제값의 편차) : 0.46822134
# 예측되는 사망자 수 :  [2.9757793]

 step(학습 횟수) : 90000
 cost(예측값과 실제값의 편차) : 0.46756428
# 예측되는 사망자 수 :  [2.9752028]

 step(학습 횟수) : 90500
 cost(예측값과 실제값의 편차) : 0.46690893
# 예측되는 사망자 수 :  [2.9746258]

 step(학습 횟수) : 91000
 cost(예측값과 실제값의 편차) : 0.46626192
# 예측되는 사망자 수 :  [2.9740562]

 step(학습 횟수) : 91500
 cost(예측값과 실제값의 편차) : 0.46562856
# 예측되는 사망자 수 :  [2.9735096]

 step(학습 횟수) : 92000
 cost(예측값과 실제값의 편차) : 0.46499947
# 예측되는 사망자 수 :  [2.9729626]

 step(학습 횟수) : 92500
 cost(예측값과 실제값의 편차) : 0.46437225
# 예측되는 사망자 수 :  [2.9724157]

 step(학습 횟수) : 93000
 cost(예측값과 실제값의 편차) : 0.46374908
# 예측되는 사망자 수 :  [2.9718688]

 step(학습 횟수) : 93500
 cost(예측값과 실제값의 편차) : 0.46313474
# 예측되는 사망자 수 :  [2.9713354]

 step(학습 횟수) : 94000
 cost(예측값과 실제값의 편차) : 0.46253327
# 예측되는 사망자 수 :  [2.9707608]

 step(학습 횟수) : 94500
 cost(예측값과 실제값의 편차) : 0.46193266
# 예측되는 사망자 수 :  [2.970169]

 step(학습 횟수) : 95000
 cost(예측값과 실제값의 편차) : 0.46133634
# 예측되는 사망자 수 :  [2.9695773]

 step(학습 횟수) : 95500
 cost(예측값과 실제값의 편차) : 0.46074352
# 예측되는 사망자 수 :  [2.968986]

 step(학습 횟수) : 96000
 cost(예측값과 실제값의 편차) : 0.46016043
# 예측되는 사망자 수 :  [2.9684112]

 step(학습 횟수) : 96500
 cost(예측값과 실제값의 편차) : 0.45958668
# 예측되는 사망자 수 :  [2.9678493]

 step(학습 횟수) : 97000
 cost(예측값과 실제값의 편차) : 0.45901567
# 예측되는 사망자 수 :  [2.9672875]

 step(학습 횟수) : 97500
 cost(예측값과 실제값의 편차) : 0.45844853
# 예측되는 사망자 수 :  [2.9667258]

 step(학습 횟수) : 98000
 cost(예측값과 실제값의 편차) : 0.45788285
# 예측되는 사망자 수 :  [2.966164]

 step(학습 횟수) : 98500
 cost(예측값과 실제값의 편차) : 0.45732912
# 예측되는 사망자 수 :  [2.9656186]

 step(학습 횟수) : 99000
 cost(예측값과 실제값의 편차) : 0.45678413
# 예측되는 사망자 수 :  [2.9650867]

 step(학습 횟수) : 99500
 cost(예측값과 실제값의 편차) : 0.4562415
# 예측되는 사망자 수 :  [2.9645548]

 step(학습 횟수) : 100000
 cost(예측값과 실제값의 편차) : 0.45570084
# 예측되는 사망자 수 :  [2.9640229]

In [24]:
saver=tf.train.Saver()
save_path=saver.save(sess, "./model/model.ckpt")

print("\n ##### 학습된 모델을 저장하였습니다. #####")

 ##### 학습된 모델을 저장하였습니다. #####

In [25]:
import numpy as np
#import tensorflow as tf
import tensorflow.compat.v1 as tf

tf.disable_v2_behavior()

tf.reset_default_graph()

X=tf.placeholder(tf.float32, shape=[None, 5])
y=tf.placeholder(tf.float32, shape=[None, 1])

W=tf.Variable(tf.random_normal([5,1]), name="weight")
b=tf.Variable(tf.random_normal([1]), name="bias")

hypothesis=tf.matmul(X, W) + b

saver=tf.train.Saver()
init=tf.global_variables_initializer()

In [26]:
# temp = 15, rain = 30, windflow = 20, humidity = 50, snowfall=0
# temp=float(input('온  도 : '))
# rain=float(input('강수량 : '))
# windflow=float(input('풍  속 : '))
# humidity=float(input('습  도 : '))
# snowfall=float(input('적  설 : '))
temp = 15
rain = 30
windflow = 20
humidity = 50
snowfall=0

In [27]:
with tf.Session() as sess:
    sess.run(init)
    save_path="./model/model.ckpt"
    saver.restore(sess, save_path)
    
    data=((temp, rain, windflow, humidity, snowfall),)
    arr=np.array(data, dtype=np.float32)
    
    x_data=arr[:]
    dict=sess.run(hypothesis, feed_dict={X: x_data})
    
    print(dict[0])

INFO:tensorflow:Restoring parameters from ./model/model.ckpt
[-16.959915]

In [28]:
# cursor [-43.154877]

# 100,000
# [-26.348164]
# [31.237236]
# [27.018158]