# 날씨에 따른 교통사고 예측 시스템 만들기 프로젝트

### 1. 데이터 가져오기

##### 1.1 날씨 데이터 가져오기

In [1]:
import pandas as pd

OBS_ASOS_TIM_20240524114001 = pd.read_csv('OBS_ASOS_TIM_20240524114001.csv', encoding='euc-kr')
OBS_ASOS_TIM_20240524114001.head()

    지점 지점명                일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)
0  108  서울  2020-01-01 01:00    -5.9      NaN      1.7     40     NaN
1  108  서울  2020-01-01 02:00    -5.7      NaN      0.1     42     NaN
2  108  서울  2020-01-01 03:00    -5.6      0.0      0.0     46     NaN
3  108  서울  2020-01-01 04:00    -5.4      NaN      0.0     50     NaN
4  108  서울  2020-01-01 05:00    -5.2      NaN      0.0     55     NaN

##### 1.2 교통사고 데이터 가져오기

In [2]:
도로교통공단_사망교통사고정보_2020 = pd.read_csv('도로교통공단_사망교통사고정보_2020.csv', encoding='euc-kr')
도로교통공단_사망교통사고정보_2020.head()

,발생년,발생년월일시,주야,요일,사망자수,부상자수,중상자수,경상자수,부상신고자수,발생지시도,...,사고유형,가해자법규위반,도로형태_대분류,도로형태,가해자_당사자종별,피해자_당사자종별,발생위치X_UTMK,발생위치Y_UTMK,경도,위도
0,2020,2020-01-01 05,야,수,1,0,0,0,0,서울,...,차도통행중,안전운전 의무 불이행,단일로,기타단일로,승용차,보행자,959928.0,1943154.0,127.046727,37.486761
1,2020,2020-01-01 05,야,수,1,0,0,0,0,경기,...,추돌,안전운전 의무 불이행,단일로,기타단일로,승용차,화물차,951237.0,1916995.0,126.950147,37.250560
2,2020,2020-01-01 07,주,수,1,0,0,0,0,충남,...,횡단중,안전운전 의무 불이행,단일로,기타단일로,승용차,보행자,967688.0,1869920.0,127.137666,36.826933
3,2020,2020-01-01 10,주,수,1,0,0,0,0,경남,...,공작물충돌,안전운전 의무 불이행,단일로,기타단일로,화물차,없음,1038413.0,1748968.0,127.924796,35.736290
4,2020,2020-01-01 11,주,수,1,0,0,0,0,경기,...,도로이탈 추락,안전운전 의무 불이행,단일로,기타단일로,농기계,없음,1011197.0,1900537.0,127.626014,37.103415

### 2. 필요한 차원 데이터 셋으로 저장하기

##### 2.1 날씨 데이터 필요한 차원 데이터 셋으로 저장하기

In [3]:
weather_2020 = OBS_ASOS_TIM_20240524114001.drop(['지점','지점명'], axis=1)
weather_2020.head()

                 일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)
0  2020-01-01 01:00    -5.9      NaN      1.7     40     NaN
1  2020-01-01 02:00    -5.7      NaN      0.1     42     NaN
2  2020-01-01 03:00    -5.6      0.0      0.0     46     NaN
3  2020-01-01 04:00    -5.4      NaN      0.0     50     NaN
4  2020-01-01 05:00    -5.2      NaN      0.0     55     NaN

In [4]:
weather_2020.rename(columns={'일시':'년월일시'}, inplace=True)
weather_2020.head()

weather_2020.to_csv('weather_2020.csv', index=False)

In [5]:
weather_2020 = pd.read_csv('weather_2020.csv')
weather_2020.head()

               년월일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)
0  2020-01-01 01:00    -5.9      NaN      1.7     40     NaN
1  2020-01-01 02:00    -5.7      NaN      0.1     42     NaN
2  2020-01-01 03:00    -5.6      0.0      0.0     46     NaN
3  2020-01-01 04:00    -5.4      NaN      0.0     50     NaN
4  2020-01-01 05:00    -5.2      NaN      0.0     55     NaN

##### 2.2 교통사고 데이터 필요한 차원 데이터 셋으로 저장하기

In [6]:
trafficAccident_2020_seoul = 도로교통공단_사망교통사고정보_2020[['발생년월일시','사망자수']]
trafficAccident_2020_seoul

             발생년월일시  사망자수
0     2020-01-01 05     1
1     2020-01-01 05     1
2     2020-01-01 07     1
3     2020-01-01 10     1
4     2020-01-01 11     1
...             ...   ...
2978  2020-12-31 11     1
2979  2020-12-31 18     1
2980  2020-12-31 19     1
2981  2020-12-31 21     1
2982  2020-12-31 21     1

[2983 rows x 2 columns]

In [7]:
trafficAccident_2020_seoul.to_csv('trafficAccident_2020_seoul.csv', index=False)

In [8]:
trafficAccident_2020_seoul = pd.read_csv('trafficAccident_2020_seoul.csv')
trafficAccident_2020_seoul.head()

          발생년월일시  사망자수
0  2020-01-01 05     1
1  2020-01-01 05     1
2  2020-01-01 07     1
3  2020-01-01 10     1
4  2020-01-01 11     1

### 2. 데이터 전처리

##### 2-1. 교통사고 데이터 셋 전처리

In [9]:
trafficAccident_2020_seoul = pd.read_csv('trafficAccident_2020_seoul.csv')
trafficAccident_2020_seoul.head()

          발생년월일시  사망자수
0  2020-01-01 05     1
1  2020-01-01 05     1
2  2020-01-01 07     1
3  2020-01-01 10     1
4  2020-01-01 11     1

In [10]:
trafficAccident_2020_seoul['발생년월일시']=trafficAccident_2020_seoul['발생년월일시'].apply(lambda x: pd.to_datetime(str(x), format='%Y-%m-%d %H'))
trafficAccident_2020_seoul.head()

# trafficAccident_2020_seoul['발생년월일시']=pd.to_datetime(trafficAccident_2020_seoul['발생년월일시']).dt.floor('H')
trafficAccident_2020_seoul['발생년월일시']=pd.to_datetime(trafficAccident_2020_seoul['발생년월일시']).dt.floor('h')
trafficAccident_2020_seoul.head()

trafficAccident_2020_seoul.rename(columns={'발생년월일시':'년월일시'}, inplace=True)
trafficAccident_2020_seoul.head()

# trafficAccident_2020_seoul.set_index(trafficAccident_2020_seoul['년월일시'], inplace=True)
# trafficAccident_2020_seoul.head()
# 인덱스 설정 (올바른 방법)
trafficAccident_2020_seoul.set_index('년월일시', inplace=True)
trafficAccident_2020_seoul.head()

# 중복 컬럼 제거 (년월일시 컬럼이 인덱스로 설정되었으므로 제거)
# 이미 인덱스로 설정되었으므로 별도 삭제 불필요
# trafficAccident_2020_seoul.drop('년월일시', axis=1)
# trafficAccident_2020_seoul.head()

                     사망자수
년월일시
2020-01-01 05:00:00     1
2020-01-01 05:00:00     1
2020-01-01 07:00:00     1
2020-01-01 10:00:00     1
2020-01-01 11:00:00     1

In [11]:
import numpy as np
# trafficAccident_2020_seoul=trafficAccident_2020_seoul.resample('H').apply({'사망자수':np.sum}, axis=1).fillna(0)
trafficAccident_2020_seoul = trafficAccident_2020_seoul.resample('h').agg({'사망자수': 'sum'}).fillna(0)
trafficAccident_2020_seoul.head()

                     사망자수
년월일시
2020-01-01 05:00:00     2
2020-01-01 06:00:00     0
2020-01-01 07:00:00     1
2020-01-01 08:00:00     0
2020-01-01 09:00:00     0

In [12]:
weather_2020.head()

               년월일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)
0  2020-01-01 01:00    -5.9      NaN      1.7     40     NaN
1  2020-01-01 02:00    -5.7      NaN      0.1     42     NaN
2  2020-01-01 03:00    -5.6      0.0      0.0     46     NaN
3  2020-01-01 04:00    -5.4      NaN      0.0     50     NaN
4  2020-01-01 05:00    -5.2      NaN      0.0     55     NaN

In [13]:
trafficAccident_2020_seoul.head()

                     사망자수
년월일시
2020-01-01 05:00:00     2
2020-01-01 06:00:00     0
2020-01-01 07:00:00     1
2020-01-01 08:00:00     0
2020-01-01 09:00:00     0

In [14]:
preparation_data=pd.merge(
    weather_2020,
    trafficAccident_2020_seoul,
    how='outer',
    left_index=True,
    right_index=True
)
preparation_data.head()

               년월일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)  사망자수
0  2020-01-01 01:00    -5.9      NaN      1.7   40.0     NaN   NaN
1  2020-01-01 02:00    -5.7      NaN      0.1   42.0     NaN   NaN
2  2020-01-01 03:00    -5.6      0.0      0.0   46.0     NaN   NaN
3  2020-01-01 04:00    -5.4      NaN      0.0   50.0     NaN   NaN
4  2020-01-01 05:00    -5.2      NaN      0.0   55.0     NaN   NaN

In [15]:
preparation_data=preparation_data.fillna(0)
preparation_data.head()

               년월일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)  사망자수
0  2020-01-01 01:00    -5.9      0.0      1.7   40.0     0.0   0.0
1  2020-01-01 02:00    -5.7      0.0      0.1   42.0     0.0   0.0
2  2020-01-01 03:00    -5.6      0.0      0.0   46.0     0.0   0.0
3  2020-01-01 04:00    -5.4      0.0      0.0   50.0     0.0   0.0
4  2020-01-01 05:00    -5.2      0.0      0.0   55.0     0.0   0.0

In [16]:
preparation_data['사망자수']=preparation_data['사망자수'].astype(int)
preparation_data.head()

               년월일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)  사망자수
0  2020-01-01 01:00    -5.9      0.0      1.7   40.0     0.0     0
1  2020-01-01 02:00    -5.7      0.0      0.1   42.0     0.0     0
2  2020-01-01 03:00    -5.6      0.0      0.0   46.0     0.0     0
3  2020-01-01 04:00    -5.4      0.0      0.0   50.0     0.0     0
4  2020-01-01 05:00    -5.2      0.0      0.0   55.0     0.0     0

In [17]:
preparation_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8801 entries, 0 to 2020-12-31 21:00:00
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   년월일시     8801 non-null   object
 1   기온(°C)   8801 non-null   float64
 2   강수량(mm)  8801 non-null   float64
 3   풍속(m/s)  8801 non-null   float64
 4   습도(%)    8801 non-null   float64
 5   적설(cm)   8801 non-null   float64
 6   사망자수     8801 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 550.1+ KB

In [18]:
preparation_data.to_csv('preparation_data.csv', index=False)

In [19]:
# import os
# os.getcwd()
# os.chdir('')
# os.listdir()

In [20]:
import pandas as pd
import numpy as np
#import tensorflow as tf
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

preparation_data=pd.read_csv('preparation_data.csv')
preparation_data.head()

WARNING:tensorflow:From C:\Users\20323\AppData\Local\Temp\ipykernel_8540\3080451226.py:5: The name tf.disable_v2_behavior is deprecated. Please use tf.compat.v1.disable_v2_behavior instead.

WARNING:tensorflow:From c:\DEV\envs\py3_10_tf\lib\site-packages\tensorflow\python\compat\v2_compat.py:98: disable_resource_variables (from tensorflow.python.ops.resource_variables_toggle) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

               년월일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)  사망자수
0  2020-01-01 01:00    -5.9      0.0      1.7   40.0     0.0     0
1  2020-01-01 02:00    -5.7      0.0      0.1   42.0     0.0     0
2  2020-01-01 03:00    -5.6      0.0      0.0   46.0     0.0     0
3  2020-01-01 04:00    -5.4      0.0      0.0   50.0     0.0     0
4  2020-01-01 05:00    -5.2      0.0      0.0   55.0     0.0     0

In [21]:
import pandas as pd
import numpy as np

## ORIG
# xy=np.array(preparation_data, dtype=np.float32)
# preparation_data에서 숫자 컬럼만 선택
numeric_columns = ['기온(°C)', '강수량(mm)', '풍속(m/s)', '습도(%)', '적설(cm)', '사망자수']
xy = np.array(preparation_data[numeric_columns], dtype=np.float32)
print(xy)

x_data=xy[:, :-1]
y_data=xy[:, -1:]
print(x_data)
print(y_data)

[[-5.9  0.   1.7 40.   0.   0. ]
 [-5.7  0.   0.1 42.   0.   0. ]
 [-5.6  0.   0.  46.   0.   0. ]
 ...
 [ 0.   0.   0.   0.   0.   1. ]
 [ 0.   0.   0.   0.   0.   0. ]
 [ 0.   0.   0.   0.   0.   2. ]]
[[-5.9  0.   1.7 40.   0. ]
 [-5.7  0.   0.1 42.   0. ]
 [-5.6  0.   0.  46.   0. ]
 ...
 [ 0.   0.   0.   0.   0. ]
 [ 0.   0.   0.   0.   0. ]
 [ 0.   0.   0.   0.   0. ]]
[[0.]
 [0.]
 [0.]
 ...
 [1.]
 [0.]
 [2.]]

In [22]:
X=tf.placeholder(tf.float32, shape=[None, 5])
y=tf.placeholder(tf.float32, shape=[None, 1])

W=tf.Variable(tf.random_normal([5,1]), name="weight")
b=tf.Variable(tf.random_normal([1]), name="bias")

hypothesis=tf.matmul(X, W) + b

cost=tf.reduce_mean(tf.square(hypothesis-y))

optimizer=tf.train.GradientDescentOptimizer(learning_rate=0.000005)
train=optimizer.minimize(cost)

sess=tf.Session()
init=tf.global_variables_initializer()
sess.run(init)

WARNING:tensorflow:From C:\Users\20323\AppData\Local\Temp\ipykernel_8540\1590150836.py:11: The name tf.train.GradientDescentOptimizer is deprecated. Please use tf.compat.v1.train.GradientDescentOptimizer instead.

In [23]:
for step in range(100000):
    cost_opti, hypo_opti, _opti=sess.run(
        [cost, hypothesis, train],
        feed_dict={X: x_data, y: y_data}
    )
    step=step+1
    if step % 500 == 0:
        print("\n step(학습 횟수) :", step, "\n cost(예측값과 실제값의 편차) :",cost_opti)
        print("# 예측되는 사망자 수 : ", hypo_opti[0])

 step(학습 횟수) : 500
 cost(예측값과 실제값의 편차) : 15.899722
# 예측되는 사망자 수 :  [-42.320946]

 step(학습 횟수) : 1000
 cost(예측값과 실제값의 편차) : 14.309916
# 예측되는 사망자 수 :  [-39.788303]

 step(학습 횟수) : 1500
 cost(예측값과 실제값의 편차) : 12.886957
# 예측되는 사망자 수 :  [-37.392532]

 step(학습 횟수) : 2000
 cost(예측값과 실제값의 편차) : 11.613261
# 예측되는 사망자 수 :  [-35.126217]

 step(학습 횟수) : 2500
 cost(예측값과 실제값의 편차) : 10.47319
# 예측되는 사망자 수 :  [-32.98238]

 step(학습 횟수) : 3000
 cost(예측값과 실제값의 편차) : 9.452695
# 예측되는 사망자 수 :  [-30.954401]

 step(학습 횟수) : 3500
 cost(예측값과 실제값의 편차) : 8.539107
# 예측되는 사망자 수 :  [-29.036007]

 step(학습 횟수) : 4000
 cost(예측값과 실제값의 편차) : 7.7212543
# 예측되는 사망자 수 :  [-27.221298]

 step(학습 횟수) : 4500
 cost(예측값과 실제값의 편차) : 6.9890733
# 예측되는 사망자 수 :  [-25.504646]

 step(학습 횟수) : 5000
 cost(예측값과 실제값의 편차) : 6.333563
# 예측되는 사망자 수 :  [-23.880753]

 step(학습 횟수) : 5500
 cost(예측값과 실제값의 편차) : 5.7465935
# 예측되는 사망자 수 :  [-22.344616]

 step(학습 횟수) : 6000
 cost(예측값과 실제값의 편차) : 5.2210455
# 예측되는 사망자 수 :  [-20.891478]

 step(학습 횟수) : 6500
 cost(예측값과 실제값의 편차) : 4.7504177
# 예측되는 사망자 수 :  [-19.516857]

 step(학습 횟수) : 7000
 cost(예측값과 실제값의 편차) : 4.328961
# 예측되는 사망자 수 :  [-18.216516]

 step(학습 횟수) : 7500
 cost(예측값과 실제값의 편차) : 3.9514685
# 예측되는 사망자 수 :  [-16.986433]

 step(학습 횟수) : 8000
 cost(예측값과 실제값의 편차) : 3.6133435
# 예측되는 사망자 수 :  [-15.822813]

 step(학습 횟수) : 8500
 cost(예측값과 실제값의 편차) : 3.3104534
# 예측되는 사망자 수 :  [-14.722051]

 step(학습 횟수) : 9000
 cost(예측값과 실제값의 편차) : 3.039081
# 예측되는 사망자 수 :  [-13.680786]

 step(학습 횟수) : 9500
 cost(예측값과 실제값의 편차) : 2.7959368
# 예측되는 사망자 수 :  [-12.695784]

 step(학습 횟수) : 10000
 cost(예측값과 실제값의 편차) : 2.5780363
# 예측되는 사망자 수 :  [-11.763985]

 step(학습 횟수) : 10500
 cost(예측값과 실제값의 편차) : 2.3827217
# 예측되는 사망자 수 :  [-10.882554]

 step(학습 횟수) : 11000
 cost(예측값과 실제값의 편차) : 2.2076387
# 예측되는 사망자 수 :  [-10.048725]

 step(학습 횟수) : 11500
 cost(예측값과 실제값의 편차) : 2.0506513
# 예측되는 사망자 수 :  [-9.259932]

 step(학습 횟수) : 12000
 cost(예측값과 실제값의 편차) : 1.9098598
# 예측되는 사망자 수 :  [-8.513777]

 step(학습 횟수) : 12500
 cost(예측값과 실제값의 편차) : 1.7835692
# 예측되는 사망자 수 :  [-7.807921]

 step(학습 횟수) : 13000
 cost(예측값과 실제값의 편차) : 1.6702493
# 예측되는 사망자 수 :  [-7.1401973]

 step(학습 횟수) : 13500
 cost(예측값과 실제값의 편차) : 1.568547
# 예측되는 사망자 수 :  [-6.508535]

 step(학습 횟수) : 14000
 cost(예측값과 실제값의 편차) : 1.4772348
# 예측되는 사망자 수 :  [-5.9109974]

 step(학습 횟수) : 14500
 cost(예측값과 실제값의 편차) : 1.3952316
# 예측되는 사망자 수 :  [-5.3457303]

 step(학습 횟수) : 15000
 cost(예측값과 실제값의 편차) : 1.3215563
# 예측되는 사망자 수 :  [-4.810988]

 step(학습 횟수) : 15500
 cost(예측값과 실제값의 편차) : 1.2553351
# 예측되는 사망자 수 :  [-4.305123]

 step(학습 횟수) : 16000
 cost(예측값과 실제값의 편차) : 1.1957937
# 예측되는 사망자 수 :  [-3.826615]

 step(학습 횟수) : 16500
 cost(예측값과 실제값의 편차) : 1.1422237
# 예측되는 사망자 수 :  [-3.3739417]

 step(학습 횟수) : 17000
 cost(예측값과 실제값의 편차) : 1.0940048
# 예측되는 사망자 수 :  [-2.9456975]

 step(학습 횟수) : 17500
 cost(예측값과 실제값의 편차) : 1.0505748
# 예측되는 사망자 수 :  [-2.5405753]

 step(학습 횟수) : 18000
 cost(예측값과 실제값의 편차) : 1.0114344
# 예측되는 사망자 수 :  [-2.1573641]

 step(학습 횟수) : 18500
 cost(예측값과 실제값의 편차) : 0.9761325
# 예측되는 사망자 수 :  [-1.7948016]

 step(학습 횟수) : 19000
 cost(예측값과 실제값의 편차) : 0.9442704
# 예측되는 사망자 수 :  [-1.4518578]

 step(학습 횟수) : 19500
 cost(예측값과 실제값의 편차) : 0.9154907
# 예측되는 사망자 수 :  [-1.1273987]

 step(학습 횟수) : 20000
 cost(예측값과 실제값의 편차) : 0.88946766
# 예측되는 사망자 수 :  [-0.8204843]

 step(학습 횟수) : 20500
 cost(예측값과 실제값의 편차) : 0.86591667
# 예측되는 사망자 수 :  [-0.5301062]

 step(학습 횟수) : 21000
 cost(예측값과 실제값의 편차) : 0.84458077
# 예측되는 사망자 수 :  [-0.2554451]

 step(학습 횟수) : 21500
 cost(예측값과 실제값의 편차) : 0.82522625
# 예측되는 사망자 수 :  [0.00446248]

 step(학습 횟수) : 22000
 cost(예측값과 실제값의 편차) : 0.80765027
# 예측되는 사망자 수 :  [0.25024244]

 step(학습 횟수) : 22500
 cost(예측값과 실제값의 편차) : 0.79166853
# 예측되는 사망자 수 :  [0.4828167]

 step(학습 횟수) : 23000
 cost(예측값과 실제값의 편차) : 0.7771144
# 예측되는 사망자 수 :  [0.70284843]

 step(학습 횟수) : 23500
 cost(예측값과 실제값의 편차) : 0.76384175
# 예측되는 사망자 수 :  [0.91094154]

 step(학습 횟수) : 24000
 cost(예측값과 실제값의 편차) : 0.7517155
# 예측되는 사망자 수 :  [1.1078702]

 step(학습 횟수) : 24500
 cost(예측값과 실제값의 편차) : 0.74062014
# 예측되는 사망자 수 :  [1.2941798]

 step(학습 횟수) : 25000
 cost(예측값과 실제값의 편차) : 0.7304489
# 예측되는 사망자 수 :  [1.4703568]

 step(학습 횟수) : 25500
 cost(예측값과 실제값의 편차) : 0.7211058
# 예측되는 사망자 수 :  [1.6370808]

 step(학습 횟수) : 26000
 cost(예측값과 실제값의 편차) : 0.71250737
# 예측되는 사망자 수 :  [1.7948658]

 step(학습 횟수) : 26500
 cost(예측값과 실제값의 편차) : 0.70457923
# 예측되는 사망자 수 :  [1.9440674]

 step(학습 횟수) : 27000
 cost(예측값과 실제값의 편차) : 0.6972492
# 예측되는 사망자 수 :  [2.085194]

 step(학습 횟수) : 27500
 cost(예측값과 실제값의 편차) : 0.69046086
# 예측되는 사망자 수 :  [2.218751]

 step(학습 횟수) : 28000
 cost(예측값과 실제값의 편차) : 0.684157
# 예측되는 사망자 수 :  [2.3451495]

 step(학습 횟수) : 28500
 cost(예측값과 실제값의 편차) : 0.67828906
# 예측되는 사망자 수 :  [2.4647563]

 step(학습 횟수) : 29000
 cost(예측값과 실제값의 편차) : 0.67281395
# 예측되는 사망자 수 :  [2.5777912]

 step(학습 횟수) : 29500
 cost(예측값과 실제값의 편차) : 0.6676941
# 예측되는 사망자 수 :  [2.68475]

 step(학습 횟수) : 30000
 cost(예측값과 실제값의 편차) : 0.6628901
# 예측되는 사망자 수 :  [2.7859755]

 step(학습 횟수) : 30500
 cost(예측값과 실제값의 편차) : 0.65837586
# 예측되는 사망자 수 :  [2.881778]

 step(학습 횟수) : 31000
 cost(예측값과 실제값의 편차) : 0.65411943
# 예측되는 사망자 수 :  [2.972438]

 step(학습 횟수) : 31500
 cost(예측값과 실제값의 편차) : 0.6500976
# 예측되는 사망자 수 :  [3.0582294]

 step(학습 횟수) : 32000
 cost(예측값과 실제값의 편차) : 0.64628834
# 예측되는 사망자 수 :  [3.1393332]

 step(학습 횟수) : 32500
 cost(예측값과 실제값의 편차) : 0.64267
# 예측되는 사망자 수 :  [3.2160153]

 step(학습 횟수) : 33000
 cost(예측값과 실제값의 편차) : 0.6392242
# 예측되는 사망자 수 :  [3.28859]

 step(학습 횟수) : 33500
 cost(예측값과 실제값의 편차) : 0.63593644
# 예측되는 사망자 수 :  [3.357279]

 step(학습 횟수) : 34000
 cost(예측값과 실제값의 편차) : 0.63279086
# 예측되는 사망자 수 :  [3.4222903]

 step(학습 횟수) : 34500
 cost(예측값과 실제값의 편차) : 0.62977487
# 예측되는 사망자 수 :  [3.4838223]

 step(학습 횟수) : 35000
 cost(예측값과 실제값의 편차) : 0.62687653
# 예측되는 사망자 수 :  [3.5420454]

 step(학습 횟수) : 35500
 cost(예측값과 실제값의 편차) : 0.6240867
# 예측되는 사망자 수 :  [3.5971487]

 step(학습 횟수) : 36000
 cost(예측값과 실제값의 편차) : 0.6213956
# 예측되는 사망자 수 :  [3.649307]

 step(학습 횟수) : 36500
 cost(예측값과 실제값의 편차) : 0.6187939
# 예측되는 사망자 수 :  [3.6986794]

 step(학습 횟수) : 37000
 cost(예측값과 실제값의 편차) : 0.6162743
# 예측되는 사망자 수 :  [3.7453077]

 step(학습 횟수) : 37500
 cost(예측값과 실제값의 편차) : 0.6138305
# 예측되는 사망자 수 :  [3.7893765]

 step(학습 횟수) : 38000
 cost(예측값과 실제값의 편차) : 0.6114552
# 예측되는 사망자 수 :  [3.8310876]

 step(학습 횟수) : 38500
 cost(예측값과 실제값의 편차) : 0.609144
# 예측되는 사망자 수 :  [3.870569]

 step(학습 횟수) : 39000
 cost(예측값과 실제값의 편차) : 0.60689276
# 예측되는 사망자 수 :  [3.9079401]

 step(학습 횟수) : 39500
 cost(예측값과 실제값의 편차) : 0.6046963
# 예측되는 사망자 수 :  [3.9433143]

 step(학습 횟수) : 40000
 cost(예측값과 실제값의 편차) : 0.60255027
# 예측되는 사망자 수 :  [3.9768002]

 step(학습 횟수) : 40500
 cost(예측값과 실제값의 편차) : 0.600451
# 예측되는 사망자 수 :  [4.0084977]

 step(학습 횟수) : 41000
 cost(예측값과 실제값의 편차) : 0.5983965
# 예측되는 사망자 수 :  [4.0385056]

 step(학습 횟수) : 41500
 cost(예측값과 실제값의 편차) : 0.59638274
# 예측되는 사망자 수 :  [4.066904]

 step(학습 횟수) : 42000
 cost(예측값과 실제값의 편차) : 0.59440845
# 예측되는 사망자 수 :  [4.0937734]

 step(학습 횟수) : 42500
 cost(예측값과 실제값의 편차) : 0.5924691
# 예측되는 사망자 수 :  [4.1192117]

 step(학습 횟수) : 43000
 cost(예측값과 실제값의 편차) : 0.5905637
# 예측되는 사망자 수 :  [4.1432943]

 step(학습 횟수) : 43500
 cost(예측값과 실제값의 편차) : 0.5886916
# 예측되는 사망자 수 :  [4.1660967]

 step(학습 횟수) : 44000
 cost(예측값과 실제값의 편차) : 0.5868503
# 예측되는 사망자 수 :  [4.187686]

 step(학습 횟수) : 44500
 cost(예측값과 실제값의 편차) : 0.5850375
# 예측되는 사망자 수 :  [4.208128]

 step(학습 횟수) : 45000
 cost(예측값과 실제값의 편차) : 0.58325124
# 예측되는 사망자 수 :  [4.227485]

 step(학습 횟수) : 45500
 cost(예측값과 실제값의 편차) : 0.5814937
# 예측되는 사망자 수 :  [4.245815]

 step(학습 횟수) : 46000
 cost(예측값과 실제값의 편차) : 0.57975936
# 예측되는 사망자 수 :  [4.263173]

 step(학습 횟수) : 46500
 cost(예측값과 실제값의 편차) : 0.5780493
# 예측되는 사망자 수 :  [4.2796116]

 step(학습 횟수) : 47000
 cost(예측값과 실제값의 편차) : 0.57636285
# 예측되는 사망자 수 :  [4.2951803]

 step(학습 횟수) : 47500
 cost(예측값과 실제값의 편차) : 0.57469743
# 예측되는 사망자 수 :  [4.309926]

 step(학습 횟수) : 48000
 cost(예측값과 실제값의 편차) : 0.57305455
# 예측되는 사망자 수 :  [4.3238926]

 step(학습 횟수) : 48500
 cost(예측값과 실제값의 편차) : 0.57143253
# 예측되는 사망자 수 :  [4.3371215]

 step(학습 횟수) : 49000
 cost(예측값과 실제값의 편차) : 0.56982946
# 예측되는 사망자 수 :  [4.349564]

 step(학습 횟수) : 49500
 cost(예측값과 실제값의 편차) : 0.5682452
# 예측되는 사망자 수 :  [4.3612633]

 step(학습 횟수) : 50000
 cost(예측값과 실제값의 편차) : 0.5666791
# 예측되는 사망자 수 :  [4.3723392]

 step(학습 횟수) : 50500
 cost(예측값과 실제값의 편차) : 0.565133
# 예측되는 사망자 수 :  [4.382826]

 step(학습 횟수) : 51000
 cost(예측값과 실제값의 편차) : 0.56360364
# 예측되는 사망자 수 :  [4.392756]

 step(학습 횟수) : 51500
 cost(예측값과 실제값의 편차) : 0.56209266
# 예측되는 사망자 수 :  [4.4021583]

 step(학습 횟수) : 52000
 cost(예측값과 실제값의 편차) : 0.5605979
# 예측되는 사망자 수 :  [4.4110622]

 step(학습 횟수) : 52500
 cost(예측값과 실제값의 편차) : 0.55912006
# 예측되는 사망자 수 :  [4.419494]

 step(학습 횟수) : 53000
 cost(예측값과 실제값의 편차) : 0.55765826
# 예측되는 사망자 수 :  [4.4274774]

 step(학습 횟수) : 53500
 cost(예측값과 실제값의 편차) : 0.556212
# 예측되는 사망자 수 :  [4.4350395]

 step(학습 횟수) : 54000
 cost(예측값과 실제값의 편차) : 0.5547814
# 예측되는 사망자 수 :  [4.4422007]

 step(학습 횟수) : 54500
 cost(예측값과 실제값의 편차) : 0.55336756
# 예측되는 사망자 수 :  [4.448983]

 step(학습 횟수) : 55000
 cost(예측값과 실제값의 편차) : 0.5519676
# 예측되는 사망자 수 :  [4.455405]

 step(학습 횟수) : 55500
 cost(예측값과 실제값의 편차) : 0.5505815
# 예측되는 사망자 수 :  [4.46149]

 step(학습 횟수) : 56000
 cost(예측값과 실제값의 편차) : 0.54921216
# 예측되는 사망자 수 :  [4.467254]

 step(학습 횟수) : 56500
 cost(예측값과 실제값의 편차) : 0.5478552
# 예측되는 사망자 수 :  [4.472713]

 step(학습 횟수) : 57000
 cost(예측값과 실제값의 편차) : 0.54651374
# 예측되는 사망자 수 :  [4.477885]

 step(학습 횟수) : 57500
 cost(예측값과 실제값의 편차) : 0.5451847
# 예측되는 사망자 수 :  [4.4827833]

 step(학습 횟수) : 58000
 cost(예측값과 실제값의 편차) : 0.5438702
# 예측되는 사망자 수 :  [4.487427]

 step(학습 횟수) : 58500
 cost(예측값과 실제값의 편차) : 0.54256976
# 예측되는 사망자 수 :  [4.491824]

 step(학습 횟수) : 59000
 cost(예측값과 실제값의 편차) : 0.541282
# 예측되는 사망자 수 :  [4.4959917]

 step(학습 횟수) : 59500
 cost(예측값과 실제값의 편차) : 0.54000676
# 예측되는 사망자 수 :  [4.4999366]

 step(학습 횟수) : 60000
 cost(예측값과 실제값의 편차) : 0.53874516
# 예측되는 사망자 수 :  [4.503678]

 step(학습 횟수) : 60500
 cost(예측값과 실제값의 편차) : 0.5374965
# 예측되는 사망자 수 :  [4.5072227]

 step(학습 횟수) : 61000
 cost(예측값과 실제값의 편차) : 0.5362602
# 예측되는 사망자 수 :  [4.5105853]

 step(학습 횟수) : 61500
 cost(예측값과 실제값의 편차) : 0.5350364
# 예측되는 사망자 수 :  [4.513767]

 step(학습 횟수) : 62000
 cost(예측값과 실제값의 편차) : 0.53382474
# 예측되는 사망자 수 :  [4.5167837]

 step(학습 횟수) : 62500
 cost(예측값과 실제값의 편차) : 0.5326263
# 예측되는 사망자 수 :  [4.5196447]

 step(학습 횟수) : 63000
 cost(예측값과 실제값의 편차) : 0.5314386
# 예측되는 사망자 수 :  [4.5223584]

 step(학습 횟수) : 63500
 cost(예측값과 실제값의 편차) : 0.5302638
# 예측되는 사망자 수 :  [4.5249248]

 step(학습 횟수) : 64000
 cost(예측값과 실제값의 편차) : 0.52910006
# 예측되는 사망자 수 :  [4.5273595]

 step(학습 횟수) : 64500
 cost(예측값과 실제값의 편차) : 0.52794814
# 예측되는 사망자 수 :  [4.5296736]

 step(학습 횟수) : 65000
 cost(예측값과 실제값의 편차) : 0.5268084
# 예측되는 사망자 수 :  [4.531859]

 step(학습 횟수) : 65500
 cost(예측값과 실제값의 편차) : 0.52567923
# 예측되는 사망자 수 :  [4.5339355]

 step(학습 횟수) : 66000
 cost(예측값과 실제값의 편차) : 0.5245615
# 예측되는 사망자 수 :  [4.5359087]

 step(학습 횟수) : 66500
 cost(예측값과 실제값의 편차) : 0.5234547
# 예측되는 사망자 수 :  [4.5377703]

 step(학습 횟수) : 67000
 cost(예측값과 실제값의 편차) : 0.52235943
# 예측되는 사망자 수 :  [4.5395393]

 step(학습 횟수) : 67500
 cost(예측값과 실제값의 편차) : 0.5212747
# 예측되는 사망자 수 :  [4.541217]

 step(학습 횟수) : 68000
 cost(예측값과 실제값의 편차) : 0.52020067
# 예측되는 사망자 수 :  [4.5428085]

 step(학습 횟수) : 68500
 cost(예측값과 실제값의 편차) : 0.51913756
# 예측되는 사망자 수 :  [4.5443187]

 step(학습 횟수) : 69000
 cost(예측값과 실제값의 편차) : 0.51808465
# 예측되는 사망자 수 :  [4.5457506]

 step(학습 횟수) : 69500
 cost(예측값과 실제값의 편차) : 0.51704305
# 예측되는 사망자 수 :  [4.547111]

 step(학습 횟수) : 70000
 cost(예측값과 실제값의 편차) : 0.5160116
# 예측되는 사망자 수 :  [4.5484056]

 step(학습 횟수) : 70500
 cost(예측값과 실제값의 편차) : 0.51499003
# 예측되는 사망자 수 :  [4.5496225]

 step(학습 횟수) : 71000
 cost(예측값과 실제값의 편차) : 0.5139786
# 예측되는 사망자 수 :  [4.5507774]

 step(학습 횟수) : 71500
 cost(예측값과 실제값의 편차) : 0.51297665
# 예측되는 사망자 수 :  [4.551882]

 step(학습 횟수) : 72000
 cost(예측값과 실제값의 편차) : 0.511985
# 예측되는 사망자 수 :  [4.5529265]

 step(학습 횟수) : 72500
 cost(예측값과 실제값의 편차) : 0.5110041
# 예측되는 사망자 수 :  [4.55391]

 step(학습 횟수) : 73000
 cost(예측값과 실제값의 편차) : 0.51003253
# 예측되는 사망자 수 :  [4.5548644]

 step(학습 횟수) : 73500
 cost(예측값과 실제값의 편차) : 0.50906944
# 예측되는 사망자 수 :  [4.555739]

 step(학습 횟수) : 74000
 cost(예측값과 실제값의 편차) : 0.50811774
# 예측되는 사망자 수 :  [4.556603]

 step(학습 횟수) : 74500
 cost(예측값과 실제값의 편차) : 0.50717384
# 예측되는 사망자 수 :  [4.5573854]

 step(학습 횟수) : 75000
 cost(예측값과 실제값의 편차) : 0.50624037
# 예측되는 사망자 수 :  [4.5581603]

 step(학습 횟수) : 75500
 cost(예측값과 실제값의 편차) : 0.50531477
# 예측되는 사망자 수 :  [4.5588703]

 step(학습 횟수) : 76000
 cost(예측값과 실제값의 편차) : 0.50440025
# 예측되는 사망자 수 :  [4.559555]

 step(학습 횟수) : 76500
 cost(예측값과 실제값의 편차) : 0.50349283
# 예측되는 사망자 수 :  [4.5602226]

 step(학습 횟수) : 77000
 cost(예측값과 실제값의 편차) : 0.5025958
# 예측되는 사망자 수 :  [4.560818]

 step(학습 횟수) : 77500
 cost(예측값과 실제값의 편차) : 0.50170654
# 예측되는 사망자 수 :  [4.5614057]

 step(학습 횟수) : 78000
 cost(예측값과 실제값의 편차) : 0.50082743
# 예측되는 사망자 수 :  [4.5619864]

 step(학습 횟수) : 78500
 cost(예측값과 실제값의 편차) : 0.49995577
# 예측되는 사망자 수 :  [4.5624866]

 step(학습 횟수) : 79000
 cost(예측값과 실제값의 편차) : 0.49909395
# 예측되는 사망자 수 :  [4.5629783]

 step(학습 횟수) : 79500
 cost(예측값과 실제값의 편차) : 0.4982396
# 예측되는 사망자 수 :  [4.563462]

 step(학습 횟수) : 80000
 cost(예측값과 실제값의 편차) : 0.49739432
# 예측되는 사망자 수 :  [4.5639386]

 step(학습 횟수) : 80500
 cost(예측값과 실제값의 편차) : 0.49655724
# 예측되는 사망자 수 :  [4.5643373]

 step(학습 횟수) : 81000
 cost(예측값과 실제값의 편차) : 0.49572825
# 예측되는 사망자 수 :  [4.564725]

 step(학습 횟수) : 81500
 cost(예측값과 실제값의 편차) : 0.4949078
# 예측되는 사망자 수 :  [4.565105]

 step(학습 횟수) : 82000
 cost(예측값과 실제값의 편차) : 0.4940947
# 예측되는 사망자 수 :  [4.5654783]

 step(학습 횟수) : 82500
 cost(예측값과 실제값의 편차) : 0.493291
# 예측되는 사망자 수 :  [4.5658455]

 step(학습 횟수) : 83000
 cost(예측값과 실제값의 편차) : 0.49249408
# 예측되는 사망자 수 :  [4.566181]

 step(학습 횟수) : 83500
 cost(예측값과 실제값의 편차) : 0.4917051
# 예측되는 사망자 수 :  [4.566459]

 step(학습 횟수) : 84000
 cost(예측값과 실제값의 편차) : 0.49092406
# 예측되는 사망자 수 :  [4.56673]

 step(학습 횟수) : 84500
 cost(예측값과 실제값의 편차) : 0.49015072
# 예측되는 사망자 수 :  [4.566994]

 step(학습 횟수) : 85000
 cost(예측값과 실제값의 편차) : 0.4893857
# 예측되는 사망자 수 :  [4.567251]

 step(학습 횟수) : 85500
 cost(예측값과 실제값의 편차) : 0.48862794
# 예측되는 사망자 수 :  [4.567501]

 step(학습 횟수) : 86000
 cost(예측값과 실제값의 편차) : 0.48787668
# 예측되는 사망자 수 :  [4.5677443]

 step(학습 횟수) : 86500
 cost(예측값과 실제값의 편차) : 0.48713458
# 예측되는 사망자 수 :  [4.5679812]

 step(학습 횟수) : 87000
 cost(예측값과 실제값의 편차) : 0.4863985
# 예측되는 사망자 수 :  [4.568211]

 step(학습 횟수) : 87500
 cost(예측값과 실제값의 편차) : 0.48566908
# 예측되는 사망자 수 :  [4.568434]

 step(학습 횟수) : 88000
 cost(예측값과 실제값의 편차) : 0.484949
# 예측되는 사망자 수 :  [4.5686502]

 step(학습 횟수) : 88500
 cost(예측값과 실제값의 편차) : 0.48423475
# 예측되는 사망자 수 :  [4.568793]

 step(학습 횟수) : 89000
 cost(예측값과 실제값의 편차) : 0.48352683
# 예측되는 사망자 수 :  [4.5689216]

 step(학습 횟수) : 89500
 cost(예측값과 실제값의 편차) : 0.48282743
# 예측되는 사망자 수 :  [4.5690436]

 step(학습 횟수) : 90000
 cost(예측값과 실제값의 편차) : 0.48213437
# 예측되는 사망자 수 :  [4.5691586]

 step(학습 횟수) : 90500
 cost(예측값과 실제값의 편차) : 0.48144776
# 예측되는 사망자 수 :  [4.5692677]

 step(학습 횟수) : 91000
 cost(예측값과 실제값의 편차) : 0.4807683
# 예측되는 사망자 수 :  [4.5693703]

 step(학습 횟수) : 91500
 cost(예측값과 실제값의 편차) : 0.48009536
# 예측되는 사망자 수 :  [4.569466]

 step(학습 횟수) : 92000
 cost(예측값과 실제값의 편차) : 0.47942895
# 예측되는 사망자 수 :  [4.5695553]

 step(학습 횟수) : 92500
 cost(예측값과 실제값의 편차) : 0.47876972
# 예측되는 사망자 수 :  [4.5696383]

 step(학습 횟수) : 93000
 cost(예측값과 실제값의 편차) : 0.47811678
# 예측되는 사망자 수 :  [4.5697155]

 step(학습 횟수) : 93500
 cost(예측값과 실제값의 편차) : 0.47746965
# 예측되는 사망자 수 :  [4.5697856]

 step(학습 횟수) : 94000
 cost(예측값과 실제값의 편차) : 0.4768296
# 예측되는 사망자 수 :  [4.569849]

 step(학습 횟수) : 94500
 cost(예측값과 실제값의 편차) : 0.47619554
# 예측되는 사망자 수 :  [4.569907]

 step(학습 횟수) : 95000
 cost(예측값과 실제값의 편차) : 0.47556773
# 예측되는 사망자 수 :  [4.569959]

 step(학습 횟수) : 95500
 cost(예측값과 실제값의 편차) : 0.4749466
# 예측되는 사망자 수 :  [4.570004]

 step(학습 횟수) : 96000
 cost(예측값과 실제값의 편차) : 0.47433177
# 예측되는 사망자 수 :  [4.5700426]

 step(학습 횟수) : 96500
 cost(예측값과 실제값의 편차) : 0.4737216
# 예측되는 사망자 수 :  [4.5701]

 step(학습 횟수) : 97000
 cost(예측값과 실제값의 편차) : 0.4731193
# 예측되는 사망자 수 :  [4.5701632]

 step(학습 횟수) : 97500
 cost(예측값과 실제값의 편차) : 0.47252098
# 예측되는 사망자 수 :  [4.5702233]

 step(학습 횟수) : 98000
 cost(예측값과 실제값의 편차) : 0.47192985
# 예측되는 사망자 수 :  [4.570282]

 step(학습 횟수) : 98500
 cost(예측값과 실제값의 편차) : 0.4713447
# 예측되는 사망자 수 :  [4.570338]

 step(학습 횟수) : 99000
 cost(예측값과 실제값의 편차) : 0.47076455
# 예측되는 사망자 수 :  [4.570392]

 step(학습 횟수) : 99500
 cost(예측값과 실제값의 편차) : 0.4701902
# 예측되는 사망자 수 :  [4.5704436]

 step(학습 횟수) : 100000
 cost(예측값과 실제값의 편차) : 0.46962225
# 예측되는 사망자 수 :  [4.570493]

In [24]:
saver=tf.train.Saver()
save_path=saver.save(sess, "./model/model.ckpt")

print("\n ##### 학습된 모델을 저장하였습니다. #####")

 ##### 학습된 모델을 저장하였습니다. #####

In [25]:
import numpy as np
#import tensorflow as tf
import tensorflow.compat.v1 as tf

tf.disable_v2_behavior()

tf.reset_default_graph()

X=tf.placeholder(tf.float32, shape=[None, 5])
y=tf.placeholder(tf.float32, shape=[None, 1])

W=tf.Variable(tf.random_normal([5,1]), name="weight")
b=tf.Variable(tf.random_normal([1]), name="bias")

hypothesis=tf.matmul(X, W) + b

saver=tf.train.Saver()
init=tf.global_variables_initializer()

In [26]:
# 15, 30, 20, 50, 0
temp=15.0 #float(input('온  도 : '))
rain=30.0 #float(input('강수량 : '))
windflow=20.0 #float(input('풍  속 : '))
humidity=50.0 #float(input('습  도 : '))
snowfall=0.0 #float(input('적  설 : '))

In [27]:
with tf.Session() as sess:
    sess.run(init)
    save_path="./model/model.ckpt"
    saver.restore(sess, save_path)
    
    data=((temp, rain, windflow, humidity, snowfall),)
    arr=np.array(data, dtype=np.float32)
    
    x_data=arr[:]
    dict=sess.run(hypothesis, feed_dict={X: x_data})
    
    print(dict[0])

INFO:tensorflow:Restoring parameters from ./model/model.ckpt
[-43.154877]