# 날씨에 따른 교통사고 예측 시스템 만들기 프로젝트

### 1. 데이터 가져오기

##### 1.1 날씨 데이터 가져오기

In [1]:
import pandas as pd

OBS_ASOS_TIM_20240524114001 = pd.read_csv('OBS_ASOS_TIM_20240524114001.csv', encoding='euc-kr')
OBS_ASOS_TIM_20240524114001.head()

    지점 지점명                일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)
0  108  서울  2020-01-01 01:00    -5.9      NaN      1.7     40     NaN
1  108  서울  2020-01-01 02:00    -5.7      NaN      0.1     42     NaN
2  108  서울  2020-01-01 03:00    -5.6      0.0      0.0     46     NaN
3  108  서울  2020-01-01 04:00    -5.4      NaN      0.0     50     NaN
4  108  서울  2020-01-01 05:00    -5.2      NaN      0.0     55     NaN

##### 1.2 교통사고 데이터 가져오기

In [2]:
도로교통공단_사망교통사고정보_2020 = pd.read_csv('도로교통공단_사망교통사고정보_2020.csv', encoding='euc-kr')
도로교통공단_사망교통사고정보_2020.head()

,발생년,발생년월일시,주야,요일,사망자수,부상자수,중상자수,경상자수,부상신고자수,발생지시도,...,사고유형,가해자법규위반,도로형태_대분류,도로형태,가해자_당사자종별,피해자_당사자종별,발생위치X_UTMK,발생위치Y_UTMK,경도,위도
0,2020,2020-01-01 05,야,수,1,0,0,0,0,서울,...,차도통행중,안전운전 의무 불이행,단일로,기타단일로,승용차,보행자,959928.0,1943154.0,127.046727,37.486761
1,2020,2020-01-01 05,야,수,1,0,0,0,0,경기,...,추돌,안전운전 의무 불이행,단일로,기타단일로,승용차,화물차,951237.0,1916995.0,126.950147,37.250560
2,2020,2020-01-01 07,주,수,1,0,0,0,0,충남,...,횡단중,안전운전 의무 불이행,단일로,기타단일로,승용차,보행자,967688.0,1869920.0,127.137666,36.826933
3,2020,2020-01-01 10,주,수,1,0,0,0,0,경남,...,공작물충돌,안전운전 의무 불이행,단일로,기타단일로,화물차,없음,1038413.0,1748968.0,127.924796,35.736290
4,2020,2020-01-01 11,주,수,1,0,0,0,0,경기,...,도로이탈 추락,안전운전 의무 불이행,단일로,기타단일로,농기계,없음,1011197.0,1900537.0,127.626014,37.103415

### 2. 필요한 차원 데이터 셋으로 저장하기

##### 2.1 날씨 데이터 필요한 차원 데이터 셋으로 저장하기

In [3]:
weather_2020 = OBS_ASOS_TIM_20240524114001.drop(['지점','지점명'], axis=1)
weather_2020.head()

                 일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)
0  2020-01-01 01:00    -5.9      NaN      1.7     40     NaN
1  2020-01-01 02:00    -5.7      NaN      0.1     42     NaN
2  2020-01-01 03:00    -5.6      0.0      0.0     46     NaN
3  2020-01-01 04:00    -5.4      NaN      0.0     50     NaN
4  2020-01-01 05:00    -5.2      NaN      0.0     55     NaN

In [4]:
weather_2020.rename(columns={'일시':'년월일시'}, inplace=True)
weather_2020.head()

weather_2020.to_csv('weather_2020.csv', index=False)

In [5]:
weather_2020 = pd.read_csv('weather_2020.csv')
weather_2020.head()

               년월일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)
0  2020-01-01 01:00    -5.9      NaN      1.7     40     NaN
1  2020-01-01 02:00    -5.7      NaN      0.1     42     NaN
2  2020-01-01 03:00    -5.6      0.0      0.0     46     NaN
3  2020-01-01 04:00    -5.4      NaN      0.0     50     NaN
4  2020-01-01 05:00    -5.2      NaN      0.0     55     NaN

##### 2.2 교통사고 데이터 필요한 차원 데이터 셋으로 저장하기

In [6]:
trafficAccident_2020_seoul = 도로교통공단_사망교통사고정보_2020[['발생년월일시','사망자수']]
trafficAccident_2020_seoul

             발생년월일시  사망자수
0     2020-01-01 05     1
1     2020-01-01 05     1
2     2020-01-01 07     1
3     2020-01-01 10     1
4     2020-01-01 11     1
...             ...   ...
2978  2020-12-31 11     1
2979  2020-12-31 18     1
2980  2020-12-31 19     1
2981  2020-12-31 21     1
2982  2020-12-31 21     1

[2983 rows x 2 columns]

In [7]:
trafficAccident_2020_seoul.to_csv('trafficAccident_2020_seoul.csv', index=False)

In [8]:
trafficAccident_2020_seoul = pd.read_csv('trafficAccident_2020_seoul.csv')
trafficAccident_2020_seoul.head()

          발생년월일시  사망자수
0  2020-01-01 05     1
1  2020-01-01 05     1
2  2020-01-01 07     1
3  2020-01-01 10     1
4  2020-01-01 11     1

### 2. 데이터 전처리

##### 2-1. 교통사고 데이터 셋 전처리

In [9]:
trafficAccident_2020_seoul = pd.read_csv('trafficAccident_2020_seoul.csv')
trafficAccident_2020_seoul.head()

          발생년월일시  사망자수
0  2020-01-01 05     1
1  2020-01-01 05     1
2  2020-01-01 07     1
3  2020-01-01 10     1
4  2020-01-01 11     1

In [10]:
trafficAccident_2020_seoul['발생년월일시']=trafficAccident_2020_seoul['발생년월일시'].apply(lambda x: pd.to_datetime(str(x), format='%Y-%m-%d %H'))
trafficAccident_2020_seoul.head()

# trafficAccident_2020_seoul['발생년월일시']=pd.to_datetime(trafficAccident_2020_seoul['발생년월일시']).dt.floor('H')
trafficAccident_2020_seoul['발생년월일시']=pd.to_datetime(trafficAccident_2020_seoul['발생년월일시']).dt.floor('h')
trafficAccident_2020_seoul.head()

trafficAccident_2020_seoul.rename(columns={'발생년월일시':'년월일시'}, inplace=True)
trafficAccident_2020_seoul.head()

# trafficAccident_2020_seoul.set_index(trafficAccident_2020_seoul['년월일시'], inplace=True)
# trafficAccident_2020_seoul.head()
# 인덱스 설정 (올바른 방법)
trafficAccident_2020_seoul.set_index('년월일시', inplace=True)
trafficAccident_2020_seoul.head()

# 중복 컬럼 제거 (년월일시 컬럼이 인덱스로 설정되었으므로 제거)
# 이미 인덱스로 설정되었으므로 별도 삭제 불필요
# trafficAccident_2020_seoul.drop('년월일시', axis=1)
# trafficAccident_2020_seoul.head()

                     사망자수
년월일시
2020-01-01 05:00:00     1
2020-01-01 05:00:00     1
2020-01-01 07:00:00     1
2020-01-01 10:00:00     1
2020-01-01 11:00:00     1

In [11]:
import numpy as np
# trafficAccident_2020_seoul=trafficAccident_2020_seoul.resample('H').apply({'사망자수':np.sum}, axis=1).fillna(0)
trafficAccident_2020_seoul = trafficAccident_2020_seoul.resample('h').agg({'사망자수': 'sum'}).fillna(0)
trafficAccident_2020_seoul.head()

                     사망자수
년월일시
2020-01-01 05:00:00     2
2020-01-01 06:00:00     0
2020-01-01 07:00:00     1
2020-01-01 08:00:00     0
2020-01-01 09:00:00     0

In [12]:
weather_2020.head()

               년월일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)
0  2020-01-01 01:00    -5.9      NaN      1.7     40     NaN
1  2020-01-01 02:00    -5.7      NaN      0.1     42     NaN
2  2020-01-01 03:00    -5.6      0.0      0.0     46     NaN
3  2020-01-01 04:00    -5.4      NaN      0.0     50     NaN
4  2020-01-01 05:00    -5.2      NaN      0.0     55     NaN

In [13]:
trafficAccident_2020_seoul.head()

                     사망자수
년월일시
2020-01-01 05:00:00     2
2020-01-01 06:00:00     0
2020-01-01 07:00:00     1
2020-01-01 08:00:00     0
2020-01-01 09:00:00     0

In [14]:
preparation_data=pd.merge(
    weather_2020,
    trafficAccident_2020_seoul,
    how='outer',
    left_index=True,
    right_index=True
)
preparation_data.head()

               년월일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)  사망자수
0  2020-01-01 01:00    -5.9      NaN      1.7   40.0     NaN   NaN
1  2020-01-01 02:00    -5.7      NaN      0.1   42.0     NaN   NaN
2  2020-01-01 03:00    -5.6      0.0      0.0   46.0     NaN   NaN
3  2020-01-01 04:00    -5.4      NaN      0.0   50.0     NaN   NaN
4  2020-01-01 05:00    -5.2      NaN      0.0   55.0     NaN   NaN

In [15]:
preparation_data=preparation_data.fillna(0)
preparation_data.head()

               년월일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)  사망자수
0  2020-01-01 01:00    -5.9      0.0      1.7   40.0     0.0   0.0
1  2020-01-01 02:00    -5.7      0.0      0.1   42.0     0.0   0.0
2  2020-01-01 03:00    -5.6      0.0      0.0   46.0     0.0   0.0
3  2020-01-01 04:00    -5.4      0.0      0.0   50.0     0.0   0.0
4  2020-01-01 05:00    -5.2      0.0      0.0   55.0     0.0   0.0

In [16]:
preparation_data['사망자수']=preparation_data['사망자수'].astype(int)
preparation_data.head()

               년월일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)  사망자수
0  2020-01-01 01:00    -5.9      0.0      1.7   40.0     0.0     0
1  2020-01-01 02:00    -5.7      0.0      0.1   42.0     0.0     0
2  2020-01-01 03:00    -5.6      0.0      0.0   46.0     0.0     0
3  2020-01-01 04:00    -5.4      0.0      0.0   50.0     0.0     0
4  2020-01-01 05:00    -5.2      0.0      0.0   55.0     0.0     0

In [17]:
preparation_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8801 entries, 0 to 2020-12-31 21:00:00
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   년월일시     8801 non-null   object
 1   기온(°C)   8801 non-null   float64
 2   강수량(mm)  8801 non-null   float64
 3   풍속(m/s)  8801 non-null   float64
 4   습도(%)    8801 non-null   float64
 5   적설(cm)   8801 non-null   float64
 6   사망자수     8801 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 550.1+ KB

In [18]:
preparation_data.to_csv('preparation_data.csv', index=False)

In [19]:
# import os
# os.getcwd()
# os.chdir('')
# os.listdir()

In [20]:
import pandas as pd
import numpy as np
#import tensorflow as tf
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

preparation_data=pd.read_csv('preparation_data.csv')
preparation_data.head()

WARNING:tensorflow:From C:\Users\20323\AppData\Local\Temp\ipykernel_27060\3080451226.py:5: The name tf.disable_v2_behavior is deprecated. Please use tf.compat.v1.disable_v2_behavior instead.

WARNING:tensorflow:From c:\DEV\envs\py3_10_tf\lib\site-packages\tensorflow\python\compat\v2_compat.py:98: disable_resource_variables (from tensorflow.python.ops.resource_variables_toggle) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

               년월일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)  사망자수
0  2020-01-01 01:00    -5.9      0.0      1.7   40.0     0.0     0
1  2020-01-01 02:00    -5.7      0.0      0.1   42.0     0.0     0
2  2020-01-01 03:00    -5.6      0.0      0.0   46.0     0.0     0
3  2020-01-01 04:00    -5.4      0.0      0.0   50.0     0.0     0
4  2020-01-01 05:00    -5.2      0.0      0.0   55.0     0.0     0

In [21]:
import pandas as pd
import numpy as np

## ORIG
# xy=np.array(preparation_data, dtype=np.float32)
# preparation_data에서 숫자 컬럼만 선택
numeric_columns = ['기온(°C)', '강수량(mm)', '풍속(m/s)', '습도(%)', '적설(cm)', '사망자수']
xy = np.array(preparation_data[numeric_columns], dtype=np.float32)
print(xy)

x_data=xy[:, :-1]
y_data=xy[:, -1:]
print(x_data)
print(y_data)

[[-5.9  0.   1.7 40.   0.   0. ]
 [-5.7  0.   0.1 42.   0.   0. ]
 [-5.6  0.   0.  46.   0.   0. ]
 ...
 [ 0.   0.   0.   0.   0.   1. ]
 [ 0.   0.   0.   0.   0.   0. ]
 [ 0.   0.   0.   0.   0.   2. ]]
[[-5.9  0.   1.7 40.   0. ]
 [-5.7  0.   0.1 42.   0. ]
 [-5.6  0.   0.  46.   0. ]
 ...
 [ 0.   0.   0.   0.   0. ]
 [ 0.   0.   0.   0.   0. ]
 [ 0.   0.   0.   0.   0. ]]
[[0.]
 [0.]
 [0.]
 ...
 [1.]
 [0.]
 [2.]]

In [22]:
X=tf.placeholder(tf.float32, shape=[None, 5])
y=tf.placeholder(tf.float32, shape=[None, 1])

W=tf.Variable(tf.random_normal([5,1]), name="weight")
b=tf.Variable(tf.random_normal([1]), name="bias")

hypothesis=tf.matmul(X, W) + b

cost=tf.reduce_mean(tf.square(hypothesis-y))

optimizer=tf.train.GradientDescentOptimizer(learning_rate=0.000005)
train=optimizer.minimize(cost)

sess=tf.Session()
init=tf.global_variables_initializer()
sess.run(init)

WARNING:tensorflow:From C:\Users\20323\AppData\Local\Temp\ipykernel_27060\1590150836.py:11: The name tf.train.GradientDescentOptimizer is deprecated. Please use tf.compat.v1.train.GradientDescentOptimizer instead.

In [23]:
for step in range(100000):
    cost_opti, hypo_opti, _opti=sess.run(
        [cost, hypothesis, train],
        feed_dict={X: x_data, y: y_data}
    )
    step=step+1
    if step % 500 == 0:
        print("\n step(학습 횟수) :", step, "\n cost(예측값과 실제값의 편차) :",cost_opti)
        print("# 예측되는 사망자 수 : ", hypo_opti[0])

 step(학습 횟수) : 500
 cost(예측값과 실제값의 편차) : 0.83479786
# 예측되는 사망자 수 :  [-9.3194]

 step(학습 횟수) : 1000
 cost(예측값과 실제값의 편차) : 0.82952046
# 예측되는 사망자 수 :  [-9.240484]

 step(학습 횟수) : 1500
 cost(예측값과 실제값의 편차) : 0.82443714
# 예측되는 사망자 수 :  [-9.165733]

 step(학습 횟수) : 2000
 cost(예측값과 실제값의 편차) : 0.81953037
# 예측되는 사망자 수 :  [-9.094921]

 step(학습 횟수) : 2500
 cost(예측값과 실제값의 편차) : 0.81478304
# 예측되는 사망자 수 :  [-9.027836]

 step(학습 횟수) : 3000
 cost(예측값과 실제값의 편차) : 0.81018555
# 예측되는 사망자 수 :  [-8.964278]

 step(학습 횟수) : 3500
 cost(예측값과 실제값의 편차) : 0.8057236
# 예측되는 사망자 수 :  [-8.904058]

 step(학습 횟수) : 4000
 cost(예측값과 실제값의 편차) : 0.80138683
# 예측되는 사망자 수 :  [-8.846994]

 step(학습 횟수) : 4500
 cost(예측값과 실제값의 편차) : 0.79716533
# 예측되는 사망자 수 :  [-8.792916]

 step(학습 횟수) : 5000
 cost(예측값과 실제값의 편차) : 0.7930485
# 예측되는 사망자 수 :  [-8.741665]

 step(학습 횟수) : 5500
 cost(예측값과 실제값의 편차) : 0.7890325
# 예측되는 사망자 수 :  [-8.693087]

 step(학습 횟수) : 6000
 cost(예측값과 실제값의 편차) : 0.78510773
# 예측되는 사망자 수 :  [-8.6470375]

 step(학습 횟수) : 6500
 cost(예측값과 실제값의 편차) : 0.7812675
# 예측되는 사망자 수 :  [-8.603382]

 step(학습 횟수) : 7000
 cost(예측값과 실제값의 편차) : 0.77750826
# 예측되는 사망자 수 :  [-8.561992]

 step(학습 횟수) : 7500
 cost(예측값과 실제값의 편차) : 0.7738212
# 예측되는 사망자 수 :  [-8.522742]

 step(학습 횟수) : 8000
 cost(예측값과 실제값의 편차) : 0.77020603
# 예측되는 사망자 수 :  [-8.48552]

 step(학습 횟수) : 8500
 cost(예측값과 실제값의 편차) : 0.7666547
# 예측되는 사망자 수 :  [-8.450244]

 step(학습 횟수) : 9000
 cost(예측값과 실제값의 편차) : 0.76316667
# 예측되는 사망자 수 :  [-8.416854]

 step(학습 횟수) : 9500
 cost(예측값과 실제값의 편차) : 0.75973743
# 예측되는 사망자 수 :  [-8.385177]

 step(학습 횟수) : 10000
 cost(예측값과 실제값의 편차) : 0.75636214
# 예측되는 사망자 수 :  [-8.355121]

 step(학습 횟수) : 10500
 cost(예측값과 실제값의 편차) : 0.75304073
# 예측되는 사망자 수 :  [-8.326599]

 step(학습 횟수) : 11000
 cost(예측값과 실제값의 편차) : 0.7497672
# 예측되는 사망자 수 :  [-8.299533]

 step(학습 횟수) : 11500
 cost(예측값과 실제값의 편차) : 0.7465421
# 예측되는 사망자 수 :  [-8.273839]

 step(학습 횟수) : 12000
 cost(예측값과 실제값의 편차) : 0.7433628
# 예측되는 사망자 수 :  [-8.249445]

 step(학습 횟수) : 12500
 cost(예측값과 실제값의 편차) : 0.7402281
# 예측되는 사망자 수 :  [-8.22628]

 step(학습 횟수) : 13000
 cost(예측값과 실제값의 편차) : 0.7371366
# 예측되는 사망자 수 :  [-8.204565]

 step(학습 횟수) : 13500
 cost(예측값과 실제값의 편차) : 0.73408693
# 예측되는 사망자 수 :  [-8.184011]

 step(학습 횟수) : 14000
 cost(예측값과 실제값의 편차) : 0.73107684
# 예측되는 사망자 수 :  [-8.164497]

 step(학습 횟수) : 14500
 cost(예측값과 실제값의 편차) : 0.7281026
# 예측되는 사망자 수 :  [-8.145963]

 step(학습 횟수) : 15000
 cost(예측값과 실제값의 편차) : 0.72516567
# 예측되는 사망자 수 :  [-8.128359]

 step(학습 횟수) : 15500
 cost(예측값과 실제값의 편차) : 0.7222636
# 예측되는 사망자 수 :  [-8.111634]

 step(학습 횟수) : 16000
 cost(예측값과 실제값의 편차) : 0.71939623
# 예측되는 사망자 수 :  [-8.095739]

 step(학습 횟수) : 16500
 cost(예측값과 실제값의 편차) : 0.7165628
# 예측되는 사망자 수 :  [-8.080635]

 step(학습 횟수) : 17000
 cost(예측값과 실제값의 편차) : 0.7137604
# 예측되는 사망자 수 :  [-8.066276]

 step(학습 횟수) : 17500
 cost(예측값과 실제값의 편차) : 0.7109918
# 예측되는 사망자 수 :  [-8.052622]

 step(학습 횟수) : 18000
 cost(예측값과 실제값의 편차) : 0.70825213
# 예측되는 사망자 수 :  [-8.039634]

 step(학습 횟수) : 18500
 cost(예측값과 실제값의 편차) : 0.7055431
# 예측되는 사망자 수 :  [-8.027277]

 step(학습 횟수) : 19000
 cost(예측값과 실제값의 편차) : 0.7028642
# 예측되는 사망자 수 :  [-8.01552]

 step(학습 횟수) : 19500
 cost(예측값과 실제값의 편차) : 0.70021534
# 예측되는 사망자 수 :  [-8.004322]

 step(학습 횟수) : 20000
 cost(예측값과 실제값의 편차) : 0.6975945
# 예측되는 사망자 수 :  [-7.9936676]

 step(학습 횟수) : 20500
 cost(예측값과 실제값의 편차) : 0.695001
# 예측되는 사망자 수 :  [-7.983515]

 step(학습 횟수) : 21000
 cost(예측값과 실제값의 편차) : 0.692435
# 예측되는 사망자 수 :  [-7.973842]

 step(학습 횟수) : 21500
 cost(예측값과 실제값의 편차) : 0.68989575
# 예측되는 사망자 수 :  [-7.964624]

 step(학습 횟수) : 22000
 cost(예측값과 실제값의 편차) : 0.6873836
# 예측되는 사망자 수 :  [-7.9558344]

 step(학습 횟수) : 22500
 cost(예측값과 실제값의 편차) : 0.68489826
# 예측되는 사망자 수 :  [-7.947447]

 step(학습 횟수) : 23000
 cost(예측값과 실제값의 편차) : 0.6824371
# 예측되는 사망자 수 :  [-7.9394536]

 step(학습 횟수) : 23500
 cost(예측값과 실제값의 편차) : 0.6800023
# 예측되는 사망자 수 :  [-7.9318185]

 step(학습 횟수) : 24000
 cost(예측값과 실제값의 편차) : 0.67759347
# 예측되는 사망자 수 :  [-7.924527]

 step(학습 횟수) : 24500
 cost(예측값과 실제값의 편차) : 0.67520845
# 예측되는 사망자 수 :  [-7.9175625]

 step(학습 횟수) : 25000
 cost(예측값과 실제값의 편차) : 0.6728472
# 예측되는 사망자 수 :  [-7.91091]

 step(학습 횟수) : 25500
 cost(예측값과 실제값의 편차) : 0.67051005
# 예측되는 사망자 수 :  [-7.904551]

 step(학습 횟수) : 26000
 cost(예측값과 실제값의 편차) : 0.668197
# 예측되는 사망자 수 :  [-7.8984656]

 step(학습 횟수) : 26500
 cost(예측값과 실제값의 편차) : 0.66590846
# 예측되는 사망자 수 :  [-7.8926325]

 step(학습 횟수) : 27000
 cost(예측값과 실제값의 편차) : 0.663641
# 예측되는 사망자 수 :  [-7.8870683]

 step(학습 횟수) : 27500
 cost(예측값과 실제값의 편차) : 0.6613982
# 예측되는 사망자 수 :  [-7.8817163]

 step(학습 횟수) : 28000
 cost(예측값과 실제값의 편차) : 0.6591769
# 예측되는 사망자 수 :  [-7.8766093]

 step(학습 횟수) : 28500
 cost(예측값과 실제값의 편차) : 0.65697825
# 예측되는 사망자 수 :  [-7.8717017]

 step(학습 횟수) : 29000
 cost(예측값과 실제값의 편차) : 0.65480125
# 예측되는 사망자 수 :  [-7.8669877]

 step(학습 횟수) : 29500
 cost(예측값과 실제값의 편차) : 0.65264565
# 예측되는 사망자 수 :  [-7.8624606]

 step(학습 횟수) : 30000
 cost(예측값과 실제값의 편차) : 0.6505125
# 예측되는 사망자 수 :  [-7.858125]

 step(학습 횟수) : 30500
 cost(예측값과 실제값의 편차) : 0.64840055
# 예측되는 사망자 수 :  [-7.8539553]

 step(학습 횟수) : 31000
 cost(예측값과 실제값의 편차) : 0.6463098
# 예측되는 사망자 수 :  [-7.8499427]

 step(학습 횟수) : 31500
 cost(예측값과 실제값의 편차) : 0.64424074
# 예측되는 사망자 수 :  [-7.846077]

 step(학습 횟수) : 32000
 cost(예측값과 실제값의 편차) : 0.64219093
# 예측되는 사망자 수 :  [-7.842369]

 step(학습 횟수) : 32500
 cost(예측값과 실제값의 편차) : 0.64016116
# 예측되는 사망자 수 :  [-7.8388]

 step(학습 횟수) : 33000
 cost(예측값과 실제값의 편차) : 0.63815224
# 예측되는 사망자 수 :  [-7.8353553]

 step(학습 횟수) : 33500
 cost(예측값과 실제값의 편차) : 0.63616407
# 예측되는 사망자 수 :  [-7.832018]

 step(학습 횟수) : 34000
 cost(예측값과 실제값의 편차) : 0.6341951
# 예측되는 사망자 수 :  [-7.8288016]

 step(학습 횟수) : 34500
 cost(예측값과 실제값의 편차) : 0.6322455
# 예측되는 사망자 수 :  [-7.825716]

 step(학습 횟수) : 35000
 cost(예측값과 실제값의 편차) : 0.630315
# 예측되는 사망자 수 :  [-7.822702]

 step(학습 횟수) : 35500
 cost(예측값과 실제값의 편차) : 0.62840414
# 예측되는 사망자 수 :  [-7.8198156]

 step(학습 횟수) : 36000
 cost(예측값과 실제값의 편차) : 0.62651247
# 예측되는 사망자 수 :  [-7.8170066]

 step(학습 횟수) : 36500
 cost(예측값과 실제값의 편차) : 0.6246397
# 예측되는 사망자 수 :  [-7.814291]

 step(학습 횟수) : 37000
 cost(예측값과 실제값의 편차) : 0.62278485
# 예측되는 사망자 수 :  [-7.811656]

 step(학습 횟수) : 37500
 cost(예측값과 실제값의 편차) : 0.62094843
# 예측되는 사망자 수 :  [-7.809111]

 step(학습 횟수) : 38000
 cost(예측값과 실제값의 편차) : 0.61913043
# 예측되는 사망자 수 :  [-7.8066087]

 step(학습 횟수) : 38500
 cost(예측값과 실제값의 편차) : 0.6173296
# 예측되는 사망자 수 :  [-7.8042345]

 step(학습 횟수) : 39000
 cost(예측값과 실제값의 편차) : 0.61554736
# 예측되는 사망자 수 :  [-7.8018713]

 step(학습 횟수) : 39500
 cost(예측값과 실제값의 편차) : 0.6137841
# 예측되는 사망자 수 :  [-7.7996063]

 step(학습 횟수) : 40000
 cost(예측값과 실제값의 편차) : 0.6120358
# 예측되는 사망자 수 :  [-7.7974133]

 step(학습 횟수) : 40500
 cost(예측값과 실제값의 편차) : 0.61030585
# 예측되는 사망자 수 :  [-7.79523]

 step(학습 횟수) : 41000
 cost(예측값과 실제값의 편차) : 0.6085936
# 예측되는 사망자 수 :  [-7.7931285]

 step(학습 횟수) : 41500
 cost(예측값과 실제값의 편차) : 0.6068974
# 예측되는 사망자 수 :  [-7.7911143]

 step(학습 횟수) : 42000
 cost(예측값과 실제값의 편차) : 0.605219
# 예측되는 사망자 수 :  [-7.789112]

 step(학습 횟수) : 42500
 cost(예측값과 실제값의 편차) : 0.6035566
# 예측되는 사망자 수 :  [-7.787119]

 step(학습 횟수) : 43000
 cost(예측값과 실제값의 편차) : 0.60191005
# 예측되는 사망자 수 :  [-7.7852225]

 step(학습 횟수) : 43500
 cost(예측값과 실제값의 편차) : 0.60028094
# 예측되는 사망자 수 :  [-7.783398]

 step(학습 횟수) : 44000
 cost(예측값과 실제값의 편차) : 0.5986672
# 예측되는 사망자 수 :  [-7.7815847]

 step(학습 횟수) : 44500
 cost(예측값과 실제값의 편차) : 0.5970695
# 예측되는 사망자 수 :  [-7.779781]

 step(학습 횟수) : 45000
 cost(예측값과 실제값의 편차) : 0.59548753
# 예측되는 사망자 수 :  [-7.7779875]

 step(학습 횟수) : 45500
 cost(예측값과 실제값의 편차) : 0.59392184
# 예측되는 사망자 수 :  [-7.7762523]

 step(학습 횟수) : 46000
 cost(예측값과 실제값의 편차) : 0.59237146
# 예측되는 사망자 수 :  [-7.774627]

 step(학습 횟수) : 46500
 cost(예측값과 실제값의 편차) : 0.5908361
# 예측되는 사망자 수 :  [-7.7730117]

 step(학습 횟수) : 47000
 cost(예측값과 실제값의 편차) : 0.5893151
# 예측되는 사망자 수 :  [-7.771407]

 step(학습 횟수) : 47500
 cost(예측값과 실제값의 편차) : 0.5878106
# 예측되는 사망자 수 :  [-7.7698107]

 step(학습 횟수) : 48000
 cost(예측값과 실제값의 편차) : 0.58632034
# 예측되는 사망자 수 :  [-7.7682242]

 step(학습 횟수) : 48500
 cost(예측값과 실제값의 편차) : 0.5848447
# 예측되는 사망자 수 :  [-7.766648]

 step(학습 횟수) : 49000
 cost(예측값과 실제값의 편차) : 0.5833836
# 예측되는 사망자 수 :  [-7.7650814]

 step(학습 횟수) : 49500
 cost(예측값과 실제값의 편차) : 0.5819382
# 예측되는 사망자 수 :  [-7.763523]

 step(학습 횟수) : 50000
 cost(예측값과 실제값의 편차) : 0.58050585
# 예측되는 사망자 수 :  [-7.7621207]

 step(학습 횟수) : 50500
 cost(예측값과 실제값의 편차) : 0.5790863
# 예측되는 사망자 수 :  [-7.7607307]

 step(학습 횟수) : 51000
 cost(예측값과 실제값의 편차) : 0.5776831
# 예측되는 사망자 수 :  [-7.759351]

 step(학습 횟수) : 51500
 cost(예측값과 실제값의 편차) : 0.5762932
# 예측되는 사망자 수 :  [-7.757979]

 step(학습 횟수) : 52000
 cost(예측값과 실제값의 편차) : 0.57491624
# 예측되는 사망자 수 :  [-7.7566175]

 step(학습 횟수) : 52500
 cost(예측값과 실제값의 편차) : 0.5735536
# 예측되는 사망자 수 :  [-7.7552648]

 step(학습 횟수) : 53000
 cost(예측값과 실제값의 편차) : 0.57220376
# 예측되는 사망자 수 :  [-7.7539215]

 step(학습 횟수) : 53500
 cost(예측값과 실제값의 편차) : 0.5708688
# 예측되는 사망자 수 :  [-7.752587]

 step(학습 횟수) : 54000
 cost(예측값과 실제값의 편차) : 0.5695448
# 예측되는 사망자 수 :  [-7.7512617]

 step(학습 횟수) : 54500
 cost(예측값과 실제값의 편차) : 0.5682346
# 예측되는 사망자 수 :  [-7.749945]

 step(학습 횟수) : 55000
 cost(예측값과 실제값의 편차) : 0.5669384
# 예측되는 사망자 수 :  [-7.748638]

 step(학습 횟수) : 55500
 cost(예측값과 실제값의 편차) : 0.5656536
# 예측되는 사망자 수 :  [-7.7473397]

 step(학습 횟수) : 56000
 cost(예측값과 실제값의 편차) : 0.56438303
# 예측되는 사망자 수 :  [-7.7460504]

 step(학습 횟수) : 56500
 cost(예측값과 실제값의 편차) : 0.56312436
# 예측되는 사망자 수 :  [-7.7447696]

 step(학습 횟수) : 57000
 cost(예측값과 실제값의 편차) : 0.5618776
# 예측되는 사망자 수 :  [-7.7434983]

 step(학습 횟수) : 57500
 cost(예측값과 실제값의 편차) : 0.56064296
# 예측되는 사망자 수 :  [-7.7422347]

 step(학습 횟수) : 58000
 cost(예측값과 실제값의 편차) : 0.5594218
# 예측되는 사망자 수 :  [-7.7409806]

 step(학습 횟수) : 58500
 cost(예측값과 실제값의 편차) : 0.5582117
# 예측되는 사망자 수 :  [-7.7397346]

 step(학습 횟수) : 59000
 cost(예측값과 실제값의 편차) : 0.557014
# 예측되는 사망자 수 :  [-7.738498]

 step(학습 횟수) : 59500
 cost(예측값과 실제값의 편차) : 0.55582756
# 예측되는 사망자 수 :  [-7.737269]

 step(학습 횟수) : 60000
 cost(예측값과 실제값의 편차) : 0.5546532
# 예측되는 사망자 수 :  [-7.7360497]

 step(학습 횟수) : 60500
 cost(예측값과 실제값의 편차) : 0.55349094
# 예측되는 사망자 수 :  [-7.734838]

 step(학습 횟수) : 61000
 cost(예측값과 실제값의 편차) : 0.5523399
# 예측되는 사망자 수 :  [-7.7336354]

 step(학습 횟수) : 61500
 cost(예측값과 실제값의 편차) : 0.55120003
# 예측되는 사망자 수 :  [-7.7324405]

 step(학습 횟수) : 62000
 cost(예측값과 실제값의 편차) : 0.55007136
# 예측되는 사망자 수 :  [-7.7312546]

 step(학습 횟수) : 62500
 cost(예측값과 실제값의 편차) : 0.5489527
# 예측되는 사망자 수 :  [-7.7300763]

 step(학습 횟수) : 63000
 cost(예측값과 실제값의 편차) : 0.5478469
# 예측되는 사망자 수 :  [-7.728907]

 step(학습 횟수) : 63500
 cost(예측값과 실제값의 편차) : 0.5467515
# 예측되는 사망자 수 :  [-7.7277455]

 step(학습 횟수) : 64000
 cost(예측값과 실제값의 편차) : 0.5456665
# 예측되는 사망자 수 :  [-7.726593]

 step(학습 횟수) : 64500
 cost(예측값과 실제값의 편차) : 0.5445924
# 예측되는 사망자 수 :  [-7.7254477]

 step(학습 횟수) : 65000
 cost(예측값과 실제값의 편차) : 0.5435289
# 예측되는 사망자 수 :  [-7.7243114]

 step(학습 횟수) : 65500
 cost(예측값과 실제값의 편차) : 0.54247564
# 예측되는 사망자 수 :  [-7.723182]

 step(학습 횟수) : 66000
 cost(예측값과 실제값의 편차) : 0.54143375
# 예측되는 사망자 수 :  [-7.722062]

 step(학습 횟수) : 66500
 cost(예측값과 실제값의 편차) : 0.5404016
# 예측되는 사망자 수 :  [-7.7209487]

 step(학습 횟수) : 67000
 cost(예측값과 실제값의 편차) : 0.539378
# 예측되는 사망자 수 :  [-7.7198443]

 step(학습 횟수) : 67500
 cost(예측값과 실제값의 편차) : 0.5383663
# 예측되는 사망자 수 :  [-7.718747]

 step(학습 횟수) : 68000
 cost(예측값과 실제값의 편차) : 0.5373645
# 예측되는 사망자 수 :  [-7.717659]

 step(학습 횟수) : 68500
 cost(예측값과 실제값의 편차) : 0.5363718
# 예측되는 사망자 수 :  [-7.7165775]

 step(학습 횟수) : 69000
 cost(예측값과 실제값의 편차) : 0.53538966
# 예측되는 사망자 수 :  [-7.7155046]

 step(학습 횟수) : 69500
 cost(예측값과 실제값의 편차) : 0.5344168
# 예측되는 사망자 수 :  [-7.714439]

 step(학습 횟수) : 70000
 cost(예측값과 실제값의 편차) : 0.53345317
# 예측되는 사망자 수 :  [-7.713382]

 step(학습 횟수) : 70500
 cost(예측값과 실제값의 편차) : 0.5325003
# 예측되는 사망자 수 :  [-7.7123313]

 step(학습 횟수) : 71000
 cost(예측값과 실제값의 편차) : 0.5315559
# 예측되는 사망자 수 :  [-7.7112894]

 step(학습 횟수) : 71500
 cost(예측값과 실제값의 편차) : 0.53062046
# 예측되는 사망자 수 :  [-7.710254]

 step(학습 횟수) : 72000
 cost(예측값과 실제값의 편차) : 0.52969474
# 예측되는 사망자 수 :  [-7.709227]

 step(학습 횟수) : 72500
 cost(예측값과 실제값의 편차) : 0.52877855
# 예측되는 사망자 수 :  [-7.708207]

 step(학습 횟수) : 73000
 cost(예측값과 실제값의 편차) : 0.527871
# 예측되는 사망자 수 :  [-7.7071953]

 step(학습 횟수) : 73500
 cost(예측값과 실제값의 편차) : 0.526972
# 예측되는 사망자 수 :  [-7.70619]

 step(학습 횟수) : 74000
 cost(예측값과 실제값의 편차) : 0.5260822
# 예측되는 사망자 수 :  [-7.7051935]

 step(학습 횟수) : 74500
 cost(예측값과 실제값의 편차) : 0.5252012
# 예측되는 사망자 수 :  [-7.704203]

 step(학습 횟수) : 75000
 cost(예측값과 실제값의 편차) : 0.52432877
# 예측되는 사망자 수 :  [-7.7032213]

 step(학습 횟수) : 75500
 cost(예측값과 실제값의 편차) : 0.5234653
# 예측되는 사망자 수 :  [-7.7022457]

 step(학습 횟수) : 76000
 cost(예측값과 실제값의 편차) : 0.52260965
# 예측되는 사망자 수 :  [-7.701278]

 step(학습 횟수) : 76500
 cost(예측값과 실제값의 편차) : 0.5217631
# 예측되는 사망자 수 :  [-7.700317]

 step(학습 횟수) : 77000
 cost(예측값과 실제값의 편차) : 0.52092445
# 예측되는 사망자 수 :  [-7.699364]

 step(학습 횟수) : 77500
 cost(예측값과 실제값의 편차) : 0.5200939
# 예측되는 사망자 수 :  [-7.698321]

 step(학습 횟수) : 78000
 cost(예측값과 실제값의 편차) : 0.5192725
# 예측되는 사망자 수 :  [-7.697242]

 step(학습 횟수) : 78500
 cost(예측값과 실제값의 편차) : 0.51845884
# 예측되는 사망자 수 :  [-7.6961646]

 step(학습 횟수) : 79000
 cost(예측값과 실제값의 편차) : 0.5176519
# 예측되는 사망자 수 :  [-7.695092]

 step(학습 횟수) : 79500
 cost(예측값과 실제값의 편차) : 0.5168548
# 예측되는 사망자 수 :  [-7.6940246]

 step(학습 횟수) : 80000
 cost(예측값과 실제값의 편차) : 0.5160645
# 예측되는 사망자 수 :  [-7.692965]

 step(학습 횟수) : 80500
 cost(예측값과 실제값의 편차) : 0.51528156
# 예측되는 사망자 수 :  [-7.6919117]

 step(학습 횟수) : 81000
 cost(예측값과 실제값의 편차) : 0.5145076
# 예측되는 사망자 수 :  [-7.6908665]

 step(학습 횟수) : 81500
 cost(예측값과 실제값의 편차) : 0.5137408
# 예측되는 사망자 수 :  [-7.6898265]

 step(학습 횟수) : 82000
 cost(예측값과 실제값의 편차) : 0.5129804
# 예측되는 사망자 수 :  [-7.688794]

 step(학습 횟수) : 82500
 cost(예측값과 실제값의 편차) : 0.51222867
# 예측되는 사망자 수 :  [-7.6877685]

 step(학습 횟수) : 83000
 cost(예측값과 실제값의 편차) : 0.51148444
# 예측되는 사망자 수 :  [-7.6867504]

 step(학습 횟수) : 83500
 cost(예측값과 실제값의 편차) : 0.5107475
# 예측되는 사망자 수 :  [-7.685738]

 step(학습 횟수) : 84000
 cost(예측값과 실제값의 편차) : 0.5100174
# 예측되는 사망자 수 :  [-7.684733]

 step(학습 횟수) : 84500
 cost(예측값과 실제값의 편차) : 0.5092939
# 예측되는 사망자 수 :  [-7.683734]

 step(학습 횟수) : 85000
 cost(예측값과 실제값의 편차) : 0.50857806
# 예측되는 사망자 수 :  [-7.682743]

 step(학습 횟수) : 85500
 cost(예측값과 실제값의 편차) : 0.5078702
# 예측되는 사망자 수 :  [-7.681757]

 step(학습 횟수) : 86000
 cost(예측값과 실제값의 편차) : 0.50716835
# 예측되는 사망자 수 :  [-7.680779]

 step(학습 횟수) : 86500
 cost(예측값과 실제값의 편차) : 0.5064731
# 예측되는 사망자 수 :  [-7.679806]

 step(학습 횟수) : 87000
 cost(예측값과 실제값의 편차) : 0.50578475
# 예측되는 사망자 수 :  [-7.678841]

 step(학습 횟수) : 87500
 cost(예측값과 실제값의 편차) : 0.50510424
# 예측되는 사망자 수 :  [-7.6778817]

 step(학습 횟수) : 88000
 cost(예측값과 실제값의 편차) : 0.50442964
# 예측되는 사망자 수 :  [-7.6769295]

 step(학습 횟수) : 88500
 cost(예측값과 실제값의 편차) : 0.50376153
# 예측되는 사망자 수 :  [-7.675983]

 step(학습 횟수) : 89000
 cost(예측값과 실제값의 편차) : 0.5031006
# 예측되는 사망자 수 :  [-7.6750436]

 step(학습 횟수) : 89500
 cost(예측값과 실제값의 편차) : 0.50244516
# 예측되는 사망자 수 :  [-7.67411]

 step(학습 횟수) : 90000
 cost(예측값과 실제값의 편차) : 0.5017975
# 예측되는 사망자 수 :  [-7.673183]

 step(학습 횟수) : 90500
 cost(예측값과 실제값의 편차) : 0.50115496
# 예측되는 사망자 수 :  [-7.6722617]

 step(학습 횟수) : 91000
 cost(예측값과 실제값의 편차) : 0.5005194
# 예측되는 사망자 수 :  [-7.671348]

 step(학습 횟수) : 91500
 cost(예측값과 실제값의 편차) : 0.49989027
# 예측되는 사망자 수 :  [-7.670439]

 step(학습 횟수) : 92000
 cost(예측값과 실제값의 편차) : 0.4992664
# 예측되는 사망자 수 :  [-7.669537]

 step(학습 횟수) : 92500
 cost(예측값과 실제값의 편차) : 0.4986495
# 예측되는 사망자 수 :  [-7.668641]

 step(학습 횟수) : 93000
 cost(예측값과 실제값의 편차) : 0.49803856
# 예측되는 사망자 수 :  [-7.667752]

 step(학습 횟수) : 93500
 cost(예측값과 실제값의 편차) : 0.49743292
# 예측되는 사망자 수 :  [-7.6668673]

 step(학습 횟수) : 94000
 cost(예측값과 실제값의 편차) : 0.49683392
# 예측되는 사망자 수 :  [-7.6659904]

 step(학습 횟수) : 94500
 cost(예측값과 실제값의 편차) : 0.49624068
# 예측되는 사망자 수 :  [-7.665118]

 step(학습 횟수) : 95000
 cost(예측값과 실제값의 편차) : 0.49565363
# 예측되는 사망자 수 :  [-7.6642537]

 step(학습 횟수) : 95500
 cost(예측값과 실제값의 편차) : 0.49507225
# 예측되는 사망자 수 :  [-7.6633935]

 step(학습 횟수) : 96000
 cost(예측값과 실제값의 편차) : 0.4944953
# 예측되는 사망자 수 :  [-7.66254]

 step(학습 횟수) : 96500
 cost(예측값과 실제값의 편차) : 0.49392524
# 예측되는 사망자 수 :  [-7.661692]

 step(학습 횟수) : 97000
 cost(예측값과 실제값의 편차) : 0.49336058
# 예측되는 사망자 수 :  [-7.660798]

 step(학습 횟수) : 97500
 cost(예측값과 실제값의 편차) : 0.49280134
# 예측되는 사망자 수 :  [-7.6598144]

 step(학습 횟수) : 98000
 cost(예측값과 실제값의 편차) : 0.49224752
# 예측되는 사망자 수 :  [-7.658836]

 step(학습 횟수) : 98500
 cost(예측값과 실제값의 편차) : 0.4916998
# 예측되는 사망자 수 :  [-7.657862]

 step(학습 횟수) : 99000
 cost(예측값과 실제값의 편차) : 0.49115628
# 예측되는 사망자 수 :  [-7.6568956]

 step(학습 횟수) : 99500
 cost(예측값과 실제값의 편차) : 0.4906189
# 예측되는 사망자 수 :  [-7.655933]

 step(학습 횟수) : 100000
 cost(예측값과 실제값의 편차) : 0.4900864
# 예측되는 사망자 수 :  [-7.654978]

In [24]:
saver=tf.train.Saver()
save_path=saver.save(sess, "./model/model.ckpt")

print("\n ##### 학습된 모델을 저장하였습니다. #####")

 ##### 학습된 모델을 저장하였습니다. #####

In [25]:
import numpy as np
#import tensorflow as tf
import tensorflow.compat.v1 as tf

tf.disable_v2_behavior()

tf.reset_default_graph()

X=tf.placeholder(tf.float32, shape=[None, 5])
y=tf.placeholder(tf.float32, shape=[None, 1])

W=tf.Variable(tf.random_normal([5,1]), name="weight")
b=tf.Variable(tf.random_normal([1]), name="bias")

hypothesis=tf.matmul(X, W) + b

saver=tf.train.Saver()
init=tf.global_variables_initializer()

In [26]:
# temp = 15, rain = 30, windflow = 20, humidity = 50, snowfall=0
temp=15 #float(input('온  도 : '))
rain=30 #float(input('강수량 : '))
windflow=20 #float(input('풍  속 : '))
humidity=50 #float(input('습  도 : '))
snowfall=0 #float(input('적  설 : '))

In [27]:
with tf.Session() as sess:
    sess.run(init)
    save_path="./model/model.ckpt"
    saver.restore(sess, save_path)
    
    data=((temp, rain, windflow, humidity, snowfall),)
    arr=np.array(data, dtype=np.float32)
    
    x_data=arr[:]
    dict=sess.run(hypothesis, feed_dict={X: x_data})
    
    print(dict[0])

INFO:tensorflow:Restoring parameters from ./model/model.ckpt
[-40.16117]

In [28]:
# cursor [-43.154877]

# 100000
# [-24.705458]
# [-20.438889]
# [24.736908]

# 200000
# [-18.114372]
# [38.633896]
# [-6.1814594]